.allure/**/**
.idea/**/**
.vscode/**/**
.gradle/**/**
.settings/**
.project
.classpath
bin/**/**
Out
allure-results/**/**
ScreensDoc/**/**
logs/logfile.log
/build/
/contract/bin
/contract/build
/Reports/**
/volume/**
# Mac Files
.DS_Store