openapi: 3.0.3
info:
  contact:
    name: SmartBear - Zephyr Scale Support
    url: https://smartbear.atlassian.net/servicedesk/customer/portal/42
  description: |2

    # Introduction

    This is the **Zephyr Scale Cloud** API. If you are looking for the Server API, please refer to the [documentation](https://support.smartbear.com/zephyr-scale-server/docs/) for more information.

    This API uses the OpenAPI specification. If you want to generate clients for different languages, please use the link above to download the API specification and use it with your preferred tools.

    For feature requests or general support, please head to our [support site](https://smartbear.atlassian.net/servicedesk/customer/portal/42).

    # Authentication
    The API authentication is based on JSON Web Token (JWT), which is a key for accessing the API. Authenticating using JWT requires the following steps:
    * Generate a key
    * Make authenticated requests

    ## Generate a Key
    For accessing the API, you must generate an access key in Jira. To generate an access token, click on your profile picture at the page bottom left, and
    choose the option “Zephyr Scale API keys". For more information, please check out the [documentation](https://support.smartbear.com/zephyr-scale-cloud/docs/api-and-test-automation/generating-access-keys.html).

    ## Accessing the API
    The API is available at the following base URL:
    ```
    https://api.zephyrscale.smartbear.com/v2
    ```
    For example, the final URL for retrieving test cases would be:
    ```
    https://api.zephyrscale.smartbear.com/v2/testcases
    ```

    ## Making Authenticated Requests
    To authenticate subsequent API requests, you must provide a valid token in an HTTP header, which is the key generated on the previous step:
    ```
    Authorization: Bearer {bearer_token}
    ```
    # Representing Users

    Previous API definitions used Atlassian User Keys to identify users. This parameter is deprecated because of privacy
    changes. Use Atlassian Account ID instead.


    Atlassian Account IDs are globally unique opaque identifiers for identifying a user. Every Atlassian Account has a
    ID which is assigned when the account is created and is immutable. Account IDs contain no personally identifiable
    information and are only used to retrieve user information ondemand. This API does not return any user information
    other than the Account ID (with the exception of the deprecated user keys during the deprecation period).
  title: Zephyr Scale Cloud API
  version: "2"
  x-logo:
    url: https://smartbear-tm4j-prod-us-west-2-api-docs.s3-us-west-2.amazonaws.com/images/zs-logo.svg
    altText: Zephyr Scale Cloud
servers:
- url: https://api.zephyrscale.smartbear.com/v2
security:
- AccessToken: []
tags:
- description: Operations related to test cases.
  name: Test Cases
- description: Operations related to test cycles.
  name: Test Cycles
- description: Operations related to test executions.
  name: Test Executions
- description: Operations related to folders.
  name: Folders
- description: Operations related to statuses.
  name: Statuses
- description: Operations related to priorities.
  name: Priorities
- description: Operations related to environments.
  name: Environments
- description: Operations related to projects.
  name: Projects
- description: Operations related to links.
  name: Links
- description: Operations related to test case automations.
  name: Automations
paths:
  /testcases:
    get:
      description: Retrieves all test cases. Query parameters can be used to filter
        the results.
      operationId: listTestCases
      parameters:
      - description: Jira project key filter
        explode: true
        in: query
        name: projectKey
        required: false
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
        style: form
      - description: Folder ID filter
        explode: true
        in: query
        name: folderId
        required: false
        schema:
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get test cases
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
    post:
      description: |
        Creates a test case. Fields `priorityName` and `statusName` will be set to default values if not informed. Default values are usually “Normal” for `priorityName` and “Draft” for `statusName`. All required test case custom fields should be present in the request.
      operationId: createTestCase
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCaseInput'
        description: Test Case Input
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyedCreatedResource'
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create test case
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testcases/{testCaseKey}:
    get:
      description: Returns a test case for the given key.
      operationId: getTestCase
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get test case
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
    put:
      description: |
        Updates an existing test case. If the project has test case custom fields, all custom fields should be present in the request. To leave any of them blank, please set them null if they are not required custom fields.
      operationId: updateTestCase
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCase'
        description: Test Case Update
        required: true
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Update test case
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testcases/{testCaseKey}/links:
    get:
      description: Returns links for a test case with specified key.
      operationId: getTestCaseLinks
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseLinkList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get links
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /testcases/{testCaseKey}/links/issues:
    post:
      description: Creates a link between a test case and a Jira issue.
      operationId: createTestCaseIssueLinks
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueLinkInput'
        description: Issue Link Input
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create issue links
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testcases/{testCaseKey}/links/weblinks:
    post:
      description: Creates a link between a test case and a generic URL.
      operationId: createTestCaseWebLinks
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebLinkInput'
        description: Web Link Input
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create web links
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testcases/{testCaseKey}/versions:
    get:
      description: Returns all test case versions for a test case with specified key.
        Response is ordered by most recent first.
      operationId: listTestCaseVersions
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseVersionLinkList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get versions
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /testcases/{testCaseKey}/versions/{version}:
    get:
      description: Retrieves a specific version of a test case.
      operationId: getTestCaseVersion
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      - description: Version of the test case to retrieve.
        explode: false
        in: path
        name: version
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get version
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /testcases/{testCaseKey}/testscript:
    get:
      description: Returns the test script for the given test case
      operationId: getTestCaseTestScript
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestScript'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get test script
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
    post:
      description: "Creates or updates the test script for a test case. If the test\
        \ case currently has a sequence of test steps assigned to it, these will be\
        \ implicitly removed."
      operationId: createTestCaseTestScript
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestScriptInput'
        description: Test Script Input
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create test script
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testcases/{testCaseKey}/teststeps:
    get:
      description: "Returns the test steps for the given test case. Provides a paged\
        \ response, with 100 items per page."
      operationId: getTestCaseTestSteps
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestStepsList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get test steps
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
    post:
      description: |
        Assigns a series of test steps to a test case, appending them to any existing sequence of test steps. A maximum of 100 steps can be posted per request. Consumers should not attempt to parallelize this operation, as the order of the steps is defined by the input order. If this endpoint is called on a test case that already has a plain text or BDD test script, that test script will implicitly be removed. All required step custom fields should be present in the request.
      operationId: createTestCaseTestSteps
      parameters:
      - description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        explode: false
        in: path
        name: testCaseKey
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestStepsInput'
        description: Test Step Input
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Post test steps
      tags:
      - Test Cases
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testcycles:
    get:
      description: Returns all test cycles. Query parameters can be used to filter
        by project and folder.
      operationId: listTestCycles
      parameters:
      - description: Jira project key filter
        explode: true
        in: query
        name: projectKey
        required: false
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
        style: form
      - description: Folder ID filter
        explode: true
        in: query
        name: folderId
        required: false
        schema:
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCycleList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get all Test Cycles
      tags:
      - Test Cycles
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
    post:
      description: Creates a Test Cycle. All required test cycle custom fields should
        be present in the request.
      operationId: createTestCycle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCycleInput'
        description: Test Cycle Input
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyedCreatedResource'
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create a Test Cycle
      tags:
      - Test Cycles
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testcycles/{testCycleIdOrKey}:
    get:
      description: Returns a test cycle for the given key.
      operationId: getTestCycle
      parameters:
      - description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        explode: false
        in: path
        name: testCycleIdOrKey
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCycle'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get test cycle
      tags:
      - Test Cycles
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
    put:
      description: |
        Updates an existing test cycle. If the project has test cycle custom fields, all custom fields should be present in the request. To leave any of them blank, please set them null if they are not required custom fields.
      operationId: updateTestCycle
      parameters:
      - description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        explode: false
        in: path
        name: testCycleIdOrKey
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCycle'
        description: Test Cycle Update
        required: true
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the updated Test Cycle
              explode: false
              schema:
                format: url
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Update test cycle
      tags:
      - Test Cycles
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testcycles/{testCycleIdOrKey}/links:
    get:
      description: Returns links for a test cycle with specified key.
      operationId: getTestCycleLinks
      parameters:
      - description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        explode: false
        in: path
        name: testCycleIdOrKey
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCycleLinkList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get links
      tags:
      - Test Cycles
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /testcycles/{testCycleIdOrKey}/links/issues:
    post:
      description: Creates a link between a test cycle and a Jira issue.
      operationId: createTestCycleIssueLink
      parameters:
      - description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        explode: false
        in: path
        name: testCycleIdOrKey
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueLinkInput'
        description: Issue Link Input
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the created link
              explode: false
              schema:
                format: url
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create issue links
      tags:
      - Test Cycles
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testcycles/{testCycleIdOrKey}/links/weblinks:
    post:
      description: Creates a link between a test cycle and a generic URL.
      operationId: createTestCycleWebLink
      parameters:
      - description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        explode: false
        in: path
        name: testCycleIdOrKey
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebLinkInput'
        description: Web Link Input
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the created link
              explode: false
              schema:
                format: url
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create web links
      tags:
      - Test Cycles
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testplans:
    get:
      description: Retrieves all test plans. Query parameters can be used to filter
        the results.
      operationId: listTestPlans
      parameters:
      - description: Jira project key filter
        explode: true
        in: query
        name: projectKey
        required: false
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
        style: form
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestPlanList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get test plans
      tags:
      - Test Plans
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /testexecutions:
    get:
      description: Returns all test executions. Query parameters can be used to filter
        by project and folder.
      operationId: listTestExecutions
      parameters:
      - description: Jira project key filter
        explode: true
        in: query
        name: projectKey
        required: false
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
        style: form
      - description: Test cycle key filter.
        explode: true
        in: query
        name: testCycle
        required: false
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
        style: form
      - description: Test case key filter.
        explode: true
        in: query
        name: testCase
        required: false
        schema:
          pattern: "([0-9]+)|(.+-T[0-9]+)"
          type: string
        style: form
      - description: "Filter for 'Actual End Date' after the given time. Format: yyyy-MM-dd'T'HH:mm:ss'Z'"
        explode: true
        in: query
        name: actualEndDateAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter for 'Actual End Date' before the given time. Format:\
          \ yyyy-MM-dd'T'HH:mm:ss'Z'"
        explode: true
        in: query
        name: actualEndDateBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "If true, execution step issue links will be included in the\
          \ response"
        explode: true
        in: query
        name: includeStepLinks
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestExecutionList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get test executions
      tags:
      - Test Executions
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
    post:
      description: Creates a test execution. All required test execution custom fields
        should be present in the request.
      operationId: createTestExecution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestExecutionInput'
        description: Web Link Input
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the created Test Execution
              explode: false
              schema:
                format: url
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create test execution
      tags:
      - Test Executions
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /testexecutions/{testExecutionIdOrKey}:
    get:
      description: Returns a test execution for the given ID.
      operationId: getTestExecution
      parameters:
      - description: "The ID or key of the test execution. Test execution keys are\
          \ of the format [A-Z]+-E[0-9]+"
        explode: false
        in: path
        name: testExecutionIdOrKey
        required: true
        schema:
          pattern: "([0-9]+)|(.+-E[0-9]+)"
          type: string
        style: simple
      - description: "If true, execution step issue links will be included in the\
          \ response"
        explode: true
        in: query
        name: includeStepLinks
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestExecution'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get test execution
      tags:
      - Test Executions
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /testexecutions/{testExecutionIdOrKey}/links:
    get:
      description: Returns links for a test execution with specified ID.
      operationId: listTestExecutionLinks
      parameters:
      - description: "The ID or key of the test execution. Test execution keys are\
          \ of the format [A-Z]+-E[0-9]+"
        explode: false
        in: path
        name: testExecutionIdOrKey
        required: true
        schema:
          pattern: "([0-9]+)|(.+-E[0-9]+)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestExecutionLinkList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get links
      tags:
      - Test Executions
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /testexecutions/{testExecutionIdOrKey}/links/issues:
    post:
      description: Creates a link between a test execution and a Jira issue.
      operationId: createTestExecutionIssueLink
      parameters:
      - description: "The ID or key of the test execution. Test execution keys are\
          \ of the format [A-Z]+-E[0-9]+"
        explode: false
        in: path
        name: testExecutionIdOrKey
        required: true
        schema:
          pattern: "([0-9]+)|(.+-E[0-9]+)"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueLinkInput'
        description: Issue Link Input
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the created link
              explode: false
              schema:
                format: url
                type: string
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create issue links
      tags:
      - Test Executions
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /projects:
    get:
      description: Returns all projects.
      operationId: listProjects
      parameters:
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get projects
      tags:
      - Projects
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /projects/{projectIdOrKey}:
    get:
      description: Returns a project for the given ID or key.
      operationId: getProject
      parameters:
      - description: The ID or key of the Jira project
        explode: false
        in: path
        name: projectIdOrKey
        required: true
        schema:
          pattern: "([0-9]+)|([A-Z][A-Z_0-9]+)"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get project
      tags:
      - Projects
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /folders:
    get:
      description: Returns all folder.
      operationId: listFolders
      parameters:
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Jira project key filter
        explode: true
        in: query
        name: projectKey
        required: false
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
        style: form
      - description: "Folder type filter. Either `\"TEST_CASE\"`, `\"TEST_PLAN\"`\
          \ or `\"TEST_CYCLE\"`"
        explode: true
        in: query
        name: folderType
        required: false
        schema:
          $ref: '#/components/schemas/FolderType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get folders
      tags:
      - Folders
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
    post:
      description: Creates a folder.
      operationId: createFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderInput'
        description: FolderInput
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Create folder
      tags:
      - Folders
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-contentType: application/json
      x-accepts: application/json
  /folders/{folderId}:
    get:
      description: Returns a folder for the given ID.
      operationId: getFolder
      parameters:
      - description: Folder ID
        explode: false
        in: path
        name: folderId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get folder
      tags:
      - Folders
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /priorities:
    get:
      description: Returns all priorities.
      operationId: listPriorities
      parameters:
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Jira project key filter
        explode: true
        in: query
        name: projectKey
        required: false
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriorityList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get priorities
      tags:
      - Priorities
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /priorities/{priorityId}:
    get:
      description: Returns a priority for the given ID.
      operationId: getPriority
      parameters:
      - explode: false
        in: path
        name: priorityId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Priority'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get priority
      tags:
      - Priorities
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /statuses:
    get:
      description: Returns all statuses.
      operationId: listStatuses
      parameters:
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      - description: Jira project key filter
        explode: true
        in: query
        name: projectKey
        required: false
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
        style: form
      - explode: true
        in: query
        name: statusType
        required: false
        schema:
          $ref: '#/components/schemas/StatusType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get statuses
      tags:
      - Statuses
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /statuses/{statusId}:
    get:
      description: Returns a status for the given ID.
      operationId: getStatus
      parameters:
      - explode: false
        in: path
        name: statusId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get status
      tags:
      - Statuses
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /environments:
    get:
      description: Returns all environments.
      operationId: listEnvironments
      parameters:
      - description: Jira project key filter
        explode: true
        in: query
        name: projectKey
        required: false
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
        style: form
      - description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        explode: true
        in: query
        name: maxResults
        required: false
        schema:
          default: 10
          format: int64
          minimum: 1
          type: integer
        style: form
      - description: Zero-indexed starting position. Should be a multiple of maxResults.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          default: 0
          format: int64
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentList'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get environments
      tags:
      - Environments
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /environments/{environmentId}:
    get:
      description: Returns an environment for the given ID.
      operationId: getEnvironment
      parameters:
      - explode: false
        in: path
        name: environmentId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Get environment
      tags:
      - Environments
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /links/{linkId}:
    delete:
      description: Deletes a link for the given ID.
      operationId: deleteLink
      parameters:
      - explode: false
        in: path
        name: linkId
        required: true
        schema:
          format: int64
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
      summary: Delete link
      tags:
      - Links
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
      x-accepts: application/json
  /automations/executions/custom:
    post:
      description: Create results using Zephyr Scale's custom results format.
      operationId: createCustomExecutions
      parameters:
      - description: Jira project key filter
        explode: true
        in: query
        name: projectKey
        required: true
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
        style: form
      - description: Indicate if test cases should be created if non existent.
        explode: true
        in: query
        name: autoCreateTestCases
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "The content-length header indicates the size of the message\
          \ body, in bytes. https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2"
        explode: false
        in: header
        name: content-length
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            encoding:
              testCycle:
                contentType: application/json
                style: form
            schema:
              properties:
                file:
                  format: binary
                  type: string
                testCycle:
                  $ref: '#/components/schemas/AutomationTestCycleInput'
              required:
              - file
              type: object
        description: "The zip file containing custom execution results. The max file\
          \ size is 10MB. Optionally, you can send a `testCycle` part in your form\
          \ data to customize the created test cycle."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResult'
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An error has occurred. Please check the code and the error
[...]
