openapi: 3.0.3
info:
  title: Zephyr Scale Cloud API
  description: "\n# Introduction\n\nThis is the **Zephyr Scale Cloud** API. If you\
    \ are looking for the Server API, please refer to the [documentation](https://support.smartbear.com/zephyr-scale-server/docs/)\
    \ for more information.\n\nThis API uses the OpenAPI specification. If you want\
    \ to generate clients for different languages, please use the link above to download\
    \ the API specification and use it with your preferred tools.\n\nFor feature requests\
    \ or general support, please head to our [support site](https://smartbear.atlassian.net/servicedesk/customer/portal/42).\n\
    \n# Authentication\nThe API authentication is based on JSON Web Token (JWT), which\
    \ is a key for accessing the API. Authenticating using JWT requires the following\
    \ steps:\n* Generate a key\n* Make authenticated requests\n\n## Generate a Key\n\
    For accessing the API, you must generate an access key in Jira. To generate an\
    \ access token, click on your profile picture at the page bottom left, and\nchoose\
    \ the option “Zephyr Scale API keys\". For more information, please check out\
    \ the [documentation](https://support.smartbear.com/zephyr-scale-cloud/docs/api-and-test-automation/generating-access-keys.html).\n\
    \n## Accessing the API\nThe API is available at the following base URL:\n```\n\
    https://api.zephyrscale.smartbear.com/v2\n```\nFor example, the final URL for\
    \ retrieving test cases would be:\n```\nhttps://api.zephyrscale.smartbear.com/v2/testcases\n\
    ```\n\n## Making Authenticated Requests\nTo authenticate subsequent API requests,\
    \ you must provide a valid token in an HTTP header, which is the key generated\
    \ on the previous step:\n```\nAuthorization: Bearer {bearer_token}\n```\n# Representing\
    \ Users\n\nPrevious API definitions used Atlassian User Keys to identify users.\
    \ This parameter is deprecated because of privacy\nchanges. Use Atlassian Account\
    \ ID instead.\n\n\nAtlassian Account IDs are globally unique opaque identifiers\
    \ for identifying a user. Every Atlassian Account has a\nID which is assigned\
    \ when the account is created and is immutable. Account IDs contain no personally\
    \ identifiable\ninformation and are only used to retrieve user information ondemand.\
    \ This API does not return any user information\nother than the Account ID (with\
    \ the exception of the deprecated user keys during the deprecation period).\n"
  contact:
    name: SmartBear - Zephyr Scale Support
    url: https://smartbear.atlassian.net/servicedesk/customer/portal/42
  version: "2"
  x-logo:
    url: https://smartbear-tm4j-prod-us-west-2-api-docs.s3-us-west-2.amazonaws.com/images/zs-logo.svg
    altText: Zephyr Scale Cloud
servers:
- url: https://api.zephyrscale.smartbear.com/v2
security:
- AccessToken: []
tags:
- name: Test Cases
  description: Operations related to test cases.
- name: Test Cycles
  description: Operations related to test cycles.
- name: Test Executions
  description: Operations related to test executions.
- name: Folders
  description: Operations related to folders.
- name: Statuses
  description: Operations related to statuses.
- name: Priorities
  description: Operations related to priorities.
- name: Environments
  description: Operations related to environments.
- name: Projects
  description: Operations related to projects.
- name: Links
  description: Operations related to links.
- name: Automations
  description: Operations related to test case automations.
paths:
  /testcases:
    get:
      tags:
      - Test Cases
      summary: Get test cases
      description: Retrieves all test cases. Query parameters can be used to filter
        the results.
      operationId: listTestCases
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: folderId
        in: query
        description: Folder ID filter
        schema:
          minimum: 1
          type: integer
          format: int64
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
    post:
      tags:
      - Test Cases
      summary: Create test case
      description: |
        Creates a test case. Fields `priorityName` and `statusName` will be set to default values if not informed. Default values are usually “Normal” for `priorityName` and “Draft” for `statusName`. All required test case custom fields should be present in the request.
      operationId: createTestCase
      requestBody:
        description: Test Case Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCaseInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyedCreatedResource'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcases/{testCaseKey}:
    get:
      tags:
      - Test Cases
      summary: Get test case
      description: Returns a test case for the given key.
      operationId: getTestCase
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
    put:
      tags:
      - Test Cases
      summary: Update test case
      description: "Updates an existing test case. If the project has test case custom\
        \ fields, all custom fields should be present in the request. To leave any\
        \ of them blank, please set them null if they are not required custom fields.\n"
      operationId: updateTestCase
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      requestBody:
        description: Test Case Update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCase'
        required: true
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/links:
    get:
      tags:
      - Test Cases
      summary: Get links
      description: Returns links for a test case with specified key.
      operationId: getTestCaseLinks
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseLinkList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/links/issues:
    post:
      tags:
      - Test Cases
      summary: Create issue links
      description: Creates a link between a test case and a Jira issue.
      operationId: createTestCaseIssueLinks
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      requestBody:
        description: Issue Link Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueLinkInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/links/weblinks:
    post:
      tags:
      - Test Cases
      summary: Create web links
      description: Creates a link between a test case and a generic URL.
      operationId: createTestCaseWebLinks
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      requestBody:
        description: Web Link Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebLinkInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/versions:
    get:
      tags:
      - Test Cases
      summary: Get versions
      description: Returns all test case versions for a test case with specified key.
        Response is ordered by most recent first.
      operationId: listTestCaseVersions
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCaseVersionLinkList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/versions/{version}:
    get:
      tags:
      - Test Cases
      summary: Get version
      description: Retrieves a specific version of a test case.
      operationId: getTestCaseVersion
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      - name: version
        in: path
        description: Version of the test case to retrieve.
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCase'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/testscript:
    get:
      tags:
      - Test Cases
      summary: Get test script
      description: Returns the test script for the given test case
      operationId: getTestCaseTestScript
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestScript'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
    post:
      tags:
      - Test Cases
      summary: Create test script
      description: "Creates or updates the test script for a test case. If the test\
        \ case currently has a sequence of test steps assigned to it, these will be\
        \ implicitly removed."
      operationId: createTestCaseTestScript
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      requestBody:
        description: Test Script Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestScriptInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcases/{testCaseKey}/teststeps:
    get:
      tags:
      - Test Cases
      summary: Get test steps
      description: "Returns the test steps for the given test case. Provides a paged\
        \ response, with 100 items per page."
      operationId: getTestCaseTestSteps
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestStepsList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
    post:
      tags:
      - Test Cases
      summary: Post test steps
      description: "Assigns a series of test steps to a test case, appending them\
        \ to any existing sequence of test steps. A maximum of 100 steps can be posted\
        \ per request. Consumers should not attempt to parallelize this operation,\
        \ as the order of the steps is defined by the input order. If this endpoint\
        \ is called on a test case that already has a plain text or BDD test script,\
        \ that test script will implicitly be removed. All required step custom fields\
        \ should be present in the request.\n"
      operationId: createTestCaseTestSteps
      parameters:
      - name: testCaseKey
        in: path
        description: "The key of the test case. Test case keys are of the format [A-Z]+-T[0-9]+"
        required: true
        schema:
          pattern: "(.+-T[0-9]+)"
          type: string
      requestBody:
        description: Test Step Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestStepsInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcycles:
    get:
      tags:
      - Test Cycles
      summary: Get all Test Cycles
      description: Returns all test cycles. Query parameters can be used to filter
        by project and folder.
      operationId: listTestCycles
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: folderId
        in: query
        description: Folder ID filter
        schema:
          minimum: 1
          type: integer
          format: int64
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCycleList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
    post:
      tags:
      - Test Cycles
      summary: Create a Test Cycle
      description: Creates a Test Cycle. All required test cycle custom fields should
        be present in the request.
      operationId: createTestCycle
      requestBody:
        description: Test Cycle Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCycleInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyedCreatedResource'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcycles/{testCycleIdOrKey}:
    get:
      tags:
      - Test Cycles
      summary: Get test cycle
      description: Returns a test cycle for the given key.
      operationId: getTestCycle
      parameters:
      - name: testCycleIdOrKey
        in: path
        description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCycle'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
    put:
      tags:
      - Test Cycles
      summary: Update test cycle
      description: "Updates an existing test cycle. If the project has test cycle\
        \ custom fields, all custom fields should be present in the request. To leave\
        \ any of them blank, please set them null if they are not required custom\
        \ fields.\n"
      operationId: updateTestCycle
      parameters:
      - name: testCycleIdOrKey
        in: path
        description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
      requestBody:
        description: Test Cycle Update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestCycle'
        required: true
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the updated Test Cycle
              style: simple
              explode: false
              schema:
                type: string
                format: url
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcycles/{testCycleIdOrKey}/links:
    get:
      tags:
      - Test Cycles
      summary: Get links
      description: Returns links for a test cycle with specified key.
      operationId: getTestCycleLinks
      parameters:
      - name: testCycleIdOrKey
        in: path
        description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestCycleLinkList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcycles/{testCycleIdOrKey}/links/issues:
    post:
      tags:
      - Test Cycles
      summary: Create issue links
      description: Creates a link between a test cycle and a Jira issue.
      operationId: createTestCycleIssueLink
      parameters:
      - name: testCycleIdOrKey
        in: path
        description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
      requestBody:
        description: Issue Link Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueLinkInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the created link
              schema:
                type: string
                format: url
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testcycles/{testCycleIdOrKey}/links/weblinks:
    post:
      tags:
      - Test Cycles
      summary: Create web links
      description: Creates a link between a test cycle and a generic URL.
      operationId: createTestCycleWebLink
      parameters:
      - name: testCycleIdOrKey
        in: path
        description: "The ID or key of the test cycle. Test cycle keys are of the\
          \ format [A-Z]+-R[0-9]+"
        required: true
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
      requestBody:
        description: Web Link Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebLinkInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the created link
              schema:
                type: string
                format: url
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testplans:
    get:
      tags:
      - Test Plans
      summary: Get test plans
      description: Retrieves all test plans. Query parameters can be used to filter
        the results.
      operationId: listTestPlans
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestPlanList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testexecutions:
    get:
      tags:
      - Test Executions
      summary: Get test executions
      description: Returns all test executions. Query parameters can be used to filter
        by project and folder.
      operationId: listTestExecutions
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: testCycle
        in: query
        description: Test cycle key filter.
        schema:
          pattern: "([0-9]+)|(.+-R[0-9]+)"
          type: string
      - name: testCase
        in: query
        description: Test case key filter.
        schema:
          pattern: "([0-9]+)|(.+-T[0-9]+)"
          type: string
      - name: actualEndDateAfter
        in: query
        description: "Filter for 'Actual End Date' after the given time. Format: yyyy-MM-dd'T'HH:mm:ss'Z'"
        schema:
          type: string
          format: date-time
      - name: actualEndDateBefore
        in: query
        description: "Filter for 'Actual End Date' before the given time. Format:\
          \ yyyy-MM-dd'T'HH:mm:ss'Z'"
        schema:
          type: string
          format: date-time
      - name: includeStepLinks
        in: query
        description: "If true, execution step issue links will be included in the\
          \ response"
        schema:
          type: boolean
          default: false
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestExecutionList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
    post:
      tags:
      - Test Executions
      summary: Create test execution
      description: Creates a test execution. All required test execution custom fields
        should be present in the request.
      operationId: createTestExecution
      requestBody:
        description: Web Link Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestExecutionInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the created Test Execution
              style: simple
              explode: false
              schema:
                type: string
                format: url
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testexecutions/{testExecutionIdOrKey}:
    get:
      tags:
      - Test Executions
      summary: Get test execution
      description: Returns a test execution for the given ID.
      operationId: getTestExecution
      parameters:
      - name: testExecutionIdOrKey
        in: path
        description: "The ID or key of the test execution. Test execution keys are\
          \ of the format [A-Z]+-E[0-9]+"
        required: true
        schema:
          pattern: "([0-9]+)|(.+-E[0-9]+)"
          type: string
      - name: includeStepLinks
        in: query
        description: "If true, execution step issue links will be included in the\
          \ response"
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestExecution'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testexecutions/{testExecutionIdOrKey}/links:
    get:
      tags:
      - Test Executions
      summary: Get links
      description: Returns links for a test execution with specified ID.
      operationId: listTestExecutionLinks
      parameters:
      - name: testExecutionIdOrKey
        in: path
        description: "The ID or key of the test execution. Test execution keys are\
          \ of the format [A-Z]+-E[0-9]+"
        required: true
        schema:
          pattern: "([0-9]+)|(.+-E[0-9]+)"
          type: string
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestExecutionLinkList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /testexecutions/{testExecutionIdOrKey}/links/issues:
    post:
      tags:
      - Test Executions
      summary: Create issue links
      description: Creates a link between a test execution and a Jira issue.
      operationId: createTestExecutionIssueLink
      parameters:
      - name: testExecutionIdOrKey
        in: path
        description: "The ID or key of the test execution. Test execution keys are\
          \ of the format [A-Z]+-E[0-9]+"
        required: true
        schema:
          pattern: "([0-9]+)|(.+-E[0-9]+)"
          type: string
      requestBody:
        description: Issue Link Input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueLinkInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
            location:
              description: URL of the created link
              schema:
                type: string
                format: url
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /projects:
    get:
      tags:
      - Projects
      summary: Get projects
      description: Returns all projects.
      operationId: listProjects
      parameters:
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /projects/{projectIdOrKey}:
    get:
      tags:
      - Projects
      summary: Get project
      description: Returns a project for the given ID or key.
      operationId: getProject
      parameters:
      - name: projectIdOrKey
        in: path
        description: The ID or key of the Jira project
        required: true
        schema:
          pattern: "([0-9]+)|([A-Z][A-Z_0-9]+)"
          type: string
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /folders:
    get:
      tags:
      - Folders
      summary: Get folders
      description: Returns all folder.
      operationId: listFolders
      parameters:
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: folderType
        in: query
        description: "Folder type filter. Either `\"TEST_CASE\"`, `\"TEST_PLAN\"`\
          \ or `\"TEST_CYCLE\"`"
        schema:
          $ref: '#/components/schemas/FolderType'
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
    post:
      tags:
      - Folders
      summary: Create folder
      description: Creates a folder.
      operationId: createFolder
      requestBody:
        description: FolderInput
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderInput'
        required: true
      responses:
        "201":
          description: Created
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResource'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /folders/{folderId}:
    get:
      tags:
      - Folders
      summary: Get folder
      description: Returns a folder for the given ID.
      operationId: getFolder
      parameters:
      - name: folderId
        in: path
        description: Folder ID
        required: true
        schema:
          minimum: 1
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /priorities:
    get:
      tags:
      - Priorities
      summary: Get priorities
      description: Returns all priorities.
      operationId: listPriorities
      parameters:
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriorityList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /priorities/{priorityId}:
    get:
      tags:
      - Priorities
      summary: Get priority
      description: Returns a priority for the given ID.
      operationId: getPriority
      parameters:
      - name: priorityId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Priority'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /statuses:
    get:
      tags:
      - Statuses
      summary: Get statuses
      description: Returns all statuses.
      operationId: listStatuses
      parameters:
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: statusType
        in: query
        schema:
          $ref: '#/components/schemas/StatusType'
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /statuses/{statusId}:
    get:
      tags:
      - Statuses
      summary: Get status
      description: Returns a status for the given ID.
      operationId: getStatus
      parameters:
      - name: statusId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /environments:
    get:
      tags:
      - Environments
      summary: Get environments
      description: Returns all environments.
      operationId: listEnvironments
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: maxResults
        in: query
        description: "A hint as to the maximum number of results to return in each\
          \ call. Note that the server reserves the right to impose a maxResults limit\
          \ that is lower than the value that a client provides, due to lack or resources\
          \ or any other condition. When this happens, your results will be truncated.\
          \ Callers should always check the returned maxResults to determine the value\
          \ that is effectively being used."
        schema:
          minimum: 1
          type: integer
          format: int64
          default: 10
      - name: startAt
        in: query
        description: Zero-indexed starting position. Should be a multiple of maxResults.
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 0
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentList'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /environments/{environmentId}:
    get:
      tags:
      - Environments
      summary: Get environment
      description: Returns an environment for the given ID.
      operationId: getEnvironment
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /links/{linkId}:
    delete:
      tags:
      - Links
      summary: Delete link
      description: Deletes a link for the given ID.
      operationId: deleteLink
      parameters:
      - name: linkId
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /automations/executions/custom:
    post:
      tags:
      - Automations
      summary: Custom format
      description: Create results using Zephyr Scale's custom results format.
      operationId: createCustomExecutions
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        required: true
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: autoCreateTestCases
        in: query
        description: Indicate if test cases should be created if non existent.
        schema:
          type: boolean
          default: false
      - name: content-length
        in: header
        description: "The content-length header indicates the size of the message\
          \ body, in bytes. https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2"
        required: true
        schema:
          type: integer
      requestBody:
        description: "The zip file containing custom execution results. The max file\
          \ size is 10MB. Optionally, you can send a `testCycle` part in your form\
          \ data to customize the created test cycle."
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
                testCycle:
                  $ref: '#/components/schemas/AutomationTestCycleInput'
            encoding:
              testCycle:
                contentType: application/json
                style: form
        required: true
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResult'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /automations/executions/cucumber:
    post:
      tags:
      - Automations
      summary: Cucumber format
      description: Create results using the Cucumber results format.
      operationId: createCucumberExecutions
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        required: true
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: autoCreateTestCases
        in: query
        description: Indicate if test cases should be created if non existent.
        schema:
          type: boolean
          default: false
      - name: content-length
        in: header
        description: "The content-length header indicates the size of the message\
          \ body, in bytes. https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2"
        required: true
        schema:
          type: integer
      requestBody:
        description: "The zip file containing [Cucumber execution results](https://github.com/cucumber/cucumber-json-schema/blob/main/schema.json)\
          \ as one or more files. The max file size is 2MB. Optionally, you can send\
          \ a `testCycle` part in your form data to customize the created test cycle."
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
                testCycle:
                  $ref: '#/components/schemas/AutomationTestCycleInput'
            encoding:
              testCycle:
                contentType: application/json
                style: form
        required: true
      responses:
        "200":
          description: OK
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationResult'
        default:
          description: An error has occurred. Please check the code and the error
            message.
          headers:
            Access-Control-Allow-Headers:
              $ref: '#/components/headers/Access-Control-Allow-Headers'
            Access-Control-Allow-Methods:
              $ref: '#/components/headers/Access-Control-Allow-Methods'
            Access-Control-Allow-Origin:
              $ref: '#/components/headers/Access-Control-Allow-Origin'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-amazon-integration:
        x-amazon-apigateway-request-validator: basic
        x-amazon-apigateway-integration:
          httpMethod: post
          type: aws_proxy
          uri:
            Fn::Sub: "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${LambdaFunction.Arn}/invocations"
        security:
        - AccessToken: []
  /automations/executions/junit:
    post:
      tags:
      - Automations
      summary: JUnit XML format
      description: "Create results using the JUnit XML results format. Optionally,\
        \ you can send a `testCycle` part in your form data to customize the created\
        \ test cycle."
      operationId: createJUnitExecutions
      parameters:
      - name: projectKey
        in: query
        description: Jira project key filter
        required: true
        schema:
          pattern: "([A-Z][A-Z_0-9]+)"
          type: string
      - name: autoCreateTestCases
        in: query
        description: Indicate if test cases should be created if non existent.
        schema:
          type: boolean
          default: false
      - name: content-length
        in: header
        description: "The content-length header indicates the size of the message\
          \ body, in bytes. https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2"
        required: true
        schema:
          type: integer
      requestBody:
        description: The zip or single file containing JUnit execution results. The
          max file size is 10MB
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
                testCycle:
                  $ref: '#/components/schemas/AutomationTestCycleInput'
            encoding:
              testCycle:
                contentType: application/json
                style: form
        required: true
      responses:
        "200":
          description: OK
[...]
