<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="End To End User Journey" allow-return-values="true" parallel="false" thread-count="2">
    <listeners>
        <listener class-name="com.reporting.Listeners.TestListener"/>
        <listener class-name="com.reporting.Listeners.AnnotationTransformer"/>
    </listeners>

    <parameter name="grid" value="BROWSERSTACK"/> <!-- LOCAL or DOCKER or CLOUD or BROWSERSTACK-->
    <parameter name="perf" value="NO"/>

    <test name="E2E Tests for Web">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.TestDefinitionLayer.TC002_GURU_Login"/>
        </classes>
    </test>

    <test name="E2E Tests for api">
        <classes>
            <class name="com.TestDefinitionLayer.TC003_ApiTest"/>
            <class name="com.TestDefinitionLayer.TC004_OpenBankTest"/>
        </classes>
    </test>

    <test name="E2E Tests for Mock Api">
        <classes>
            <class name="com.TestDefinitionLayer.TC005_WireMockTest"/>
        </classes>
    </test>

</suite>