<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="End To End User Journey" allow-return-values="true" parallel="false" thread-count="2">
    <listeners>
        <listener class-name="com.reporting.Listeners.TestListener"/>
        <listener class-name="com.reporting.Listeners.AnnotationTransformer"/>
    </listeners>

    <parameter name="grid" value="NO"/>
    <parameter name="perf" value="NO"/>

    <test name="E2E Tests Web">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.TestDefinitionLayer.TC002_SecurityTest"/>
        </classes>
    </test>

</suite>