openapi: 3.0.0
info:
  title: Xray REST API
  version: "2.0"
servers:
- url: https://sandbox.xpand-it.com/rest/raven/2.0/api
security:
- BasicAuth: []
tags:
- name: Test Step
- name: Test Run
- name: Project
- name: External Apps
- name: Import
paths:
  /test/{testKey}/steps:
    get:
      description: Returns all the steps of a test issue given the key. The response
        contains for each step the corresponding id, index, fields and the attachments.
        <br /> <br /> The Test Step fields are identified by their name and can be
        of type _Data_ (Toggle, Number, Date and Date Time fields), _Option_ (Single
        Select, Multiple Select and Radio Button fields), _Wiki_ (Native fields, Single
        and Multiple Line fields). <br /> <br /> The value of step fields of type
        _Wiki_ have a raw and rendered value. _Option_ fields value will be an array
        containing the information of the selected options (the option id and its
        value).
      parameters:
      - description: The key of the test issue, e.g., CALC-562
        explode: false
        in: path
        name: testKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestStepsResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              example:
                error: Test with key CALC-123 not found or is not a Manual Test.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Occurs when there is some error in the request,
            for instance, the test with provided key does not exist or some field
            has an invalid value (e.g. Option "A" does not exist for an option field).
        "500":
          content:
            application/json:
              example:
                error: Internal server exception cause.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server error
      tags:
      - Test Step
      x-accepts: application/json
    post:
      description: |-
        Create a new test step. All step fields values are listed under _fields_ and identified by the name and a list of attachments to add to the step. The field values should follow a certain format according to the custom field type. <br /><br /> - **Toggle Fields** values should be _"true"_, _"false"_, _"0"_ or _"1"_ <br /><br /> - **Number Fields** values should be a string containing a number, e.g. _"320"_. Decimal Number are also accepted,for instance, "320.5". The decimal places are always separated by a _"."_ <br /> <br /> - **Single Select and Radio Button Fields** values should be a single string containing the option value, e.g. _"Option A"_. The value should be a valid option for that custom field. The values are not case sensitive. <br /><br /> - **Multiple Select Fields** values should be an array of the string of option values, e.g. _["Option A", "Option B"]_. All the selected values should be valid for that custom field. The option values are not case sensitive. <br /><br /> - **Date Fields** should follow the ISO format _yyyy-MM-dd_, where _yyyy_ represents the year, _MM_ the month in year and _dd_ the day in the month. For instance, a valid value would be _"2020-05-02"_. <br /><br /> - **Date Time fields** should be in UTC following the ISO format _yyyy-MM-dd'T'HH:mm'Z'_. The date part follows the same date format, while _HH_ represents the hours (0-24), _mm_ the minutes in hour and _Z_ indicates the hour in UTC. For instance, a valid date time value would be _"2020-05-02T10:30Z"_. <br /><br />
        The remaining field types values do not required a specific validation. For instance, for a Single Line Custom field a valid value would be _"Perform Action B"_. <br /><br /> If some value is not valid for a certain custom field type, an error will be return stating the field with the incorrect value. Furthermore, **all required step fields must be provided**.
      parameters:
      - description: The key of the test issue, e.g., CALC-562
        explode: false
        in: path
        name: testKey
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStep'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStepResponse'
          description: Successful operation. The response returns the id of the created
            steps as well as a list containing the attachments ids. Furthermore, the
            response contains a list of warning with some errors that may occur during
            the step creation, e.g., some attachment is not successfull created
        "400":
          content:
            application/json:
              example:
                error: 'Error creating test step: Custom Field Date is invalid, [2020-Feb-02]
                  should be in the valid date format ( dd/MMM/yy ).'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          content:
            application/json:
              example:
                error: Internal server exception cause.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server error
      tags:
      - Test Step
      x-contentType: application/json
      x-accepts: application/json
  /test/{testKey}/steps/{stepId}:
    delete:
      description: Deletes a test step given the test key and the step id.
      parameters:
      - description: The key of the test issue, e.g., CALC-562
        explode: false
        in: path
        name: testKey
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the test step
        explode: false
        in: path
        name: stepId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Successful operation. No content is returned.
        "400":
          content:
            application/json:
              example:
                error: Test with key CALC-123 does not exist or is not a manual test.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          content:
            application/json:
              example:
                error: Internal server exception cause.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server error
      tags:
      - Test Step
      x-accepts: application/json
    get:
      description: Returns the values of a single test step, given the test key and
        the step id. The response follows the same format as the previous endpoints,
        containing the step id, index, fields and the attachments. <br /> <br /> The
        Test Step fields are identified by their name and can be of type _Data_ (Toggle,
        Number, Date and Date Time fields), _Option_ (Single Select, Multiple Select
        and Radio Button fields), _Wiki_ (Native fields, Single and Multiple Line
        fields). <br /> <br /> The value of step fields of type _Wiki_ have a raw
        and rendered value. _Option_ fields value will be an array containing the
        information of the selected options (the option id and its value).
      parameters:
      - description: The key of the test issue, e.g., CALC-562
        explode: false
        in: path
        name: testKey
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the test step
        explode: false
        in: path
        name: stepId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              example:
                error: Test step with id 123 not found or does not belong to Test
                  with key CALC-123.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          content:
            application/json:
              example:
                error: Internal server exception cause.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server error
      tags:
      - Test Step
      x-accepts: application/json
    put:
      description: |-
        Updates the values of an existing test step, given the test key and step id. The user can update the field values and the attachments of a step. The values should follow a specific format similar to the step creation. <br/><br/> - **Toggle Fields** values should be _"true"_, _"false"_, _"0"_ or _"1"_ <br /><br /> - **Number Fields** values should be a string containing a number, e.g. _"320"_. Decimal Number are also accepted,for instance, "320.5". The decimal places are always separated by a _"."_ <br /> <br /> - **Single Select and Radio Button Fields** values should be a single string containing the option value, e.g. _"Option A"_. The value should be a valid option for that custom field. The values are not case sensitive. <br /><br /> - **Multiple Select Fields** values should be an array of the string of option values, e.g. _["Option A", "Option B"]_. All the selected values should be valid for that custom field. The option values are not case sensitive. <br /><br /> - **Date Fields** should follow the ISO format _yyyy-MM-dd_, where _yyyy_ represents the year, _MM_ the month in year and _dd_ the day in the month. For instance, a valid value would be _"2020-05-02"_. <br /><br /> - **Date Time fields** should be in UTC following the ISO format _yyyy-MM-dd'T'HH:mm'Z'_. The date part follows the same date format, while _HH_ represents the hours (0-24), _mm_ the minutes in hour and _Z_ indicates the hour in UTC. For instance, a valid date time value would be _"2020-05-02T10:30Z"_. <br /><br />
        The remaining field types values do not required a specific validation. For instance, for a Single Line Custom field a valid value would be _"Perform Action B"_. <br /><br /> If some value is not valid for a certain custom field type, an error will be return stating the field with the incorrect value. A field value can be deleted sending an empty value, such as _""_ or _[]_, or by sending _null_. **It is not possible to delete the value of a required field.**
      parameters:
      - description: Test Key
        explode: false
        in: path
        name: testKey
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the test step
        explode: false
        in: path
        name: stepId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStep'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateStepResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              example:
                error: 'Error updating test step: Required fields cannot have empty
                  values.'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Occurs when there is some error in the request,
            for instance, the test with provided key does not exist or some field
            has an invalid value (e.g. Option "A" does not exist for an option field).
        "500":
          content:
            application/json:
              example:
                error: Internal server exception cause.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server error
      tags:
      - Test Step
      x-contentType: application/json
      x-accepts: application/json
  /test/{testKey}/steps/{stepId}/attachments:
    get:
      description: Returns all the attachments of a test step, given the test key
        and step id.
      parameters:
      - description: Test with key CALC-123 does not exist or is not a manual test.
        explode: false
        in: path
        name: testKey
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the test step
        explode: false
        in: path
        name: stepId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepAttachementResponse'
          description: Successful operation. Returns a body with the attachments information.
        "400":
          content:
            application/json:
              example:
                error: The step with id 8578 does not belong to test with key CALC-67187.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          content:
            application/json:
              example:
                error: Internal server exception cause.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server error
      tags:
      - Test Step
      x-accepts: application/json
  /test/{testKey}/steps/{stepId}/attachment/{attachmentId}:
    delete:
      description: Deletes a test step attachment, given the test key and step and
        attachment ids.
      parameters:
      - description: Test with key CALC-123 does not exist or is not a manual test.
        explode: false
        in: path
        name: testKey
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the test step
        explode: false
        in: path
        name: stepId
        required: true
        schema:
          type: integer
        style: simple
      - description: The id of the attachment
        explode: false
        in: path
        name: attachmentId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: Successful operation. No content is returned.
        "400":
          content:
            application/json:
              example:
                error: Test with key CALC-123 does not exist or is not a manual test.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          content:
            application/json:
              example:
                error: Internal server exception cause.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server error
      tags:
      - Test Step
      x-accepts: application/json
  /testrun:
    get:
      description: Retrieves a Test Run given the Test Execution and Test keys. <br/>
        The response will contain all information related to a Test Run, e.g., status,
        created and finish dates, step results, test environments, defects, Test Run
        Custom fields, and so on. <br/>
      parameters:
      - description: The key of the Test Execution
        explode: true
        in: query
        name: testExecIssueKey
        required: true
        schema:
          type: string
        style: form
      - description: The key of the Test
        explode: true
        in: query
        name: testIssueKey
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRunResponse'
          description: Successful operation. Returns a body containg the Test Run
            information.
        "400":
          content:
            application/json:
              example:
                error: Test Run not found for Test Execution with key CALC-67 and
                  Test issue with key CALC-67207.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          content:
            application/json:
              example:
                error: Internal server exception cause.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server error
      tags:
      - Test Run
      x-accepts: application/json
  /testrun/{id}:
    get:
      description: Retrieves a Test Run given the Test Run id. <br/> The response
        will contain all information related to a Test Run, e.g., status, created
        and finish dates, step results, test environments, defects, Test Run Custom
        fields, and so on. <br/>
      parameters:
      - description: The id of the Test Run
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestRunResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              example:
                error: Test Run with Id 1 was not found in the server.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          description: Internal Server Error
      tags:
      - Test Run
      x-accepts: application/json
    put:
      description: |-
        Update all the values of a Test Run.<br/> The user can update the values of the overall status, step results, assignee, test environments, add defects and evidences and so on. <br/> <br/> To update the value of a Test Run custom field, the id of the field must be provided as well as a valid value for that custom field type. <br/><br/> - **Toggle Fields** values should be _"true"_, _"false"_, _"0"_ or _"1"_ <br /><br /> - **Number Fields** values should be a string containing a number, e.g. _"320"_. Decimal Number are also accepted,for instance, "320.5". The decimal places are always separated by a _"."_  <br /> <br /> - **Single Select and Radio Button Fields** values should be a single string containing the option value, e.g. _"Option A"_. The value should be a valid option for that custom field. The values are not case sensitive. <br /><br /> - **Multiple Select Fields** values should be an array of the string of option values, e.g. _["Option A", "Option B"]_. All the selected values should be valid for that custom field. The option values are not case sensitive. <br /><br /> - **Date Fields** should follow the ISO format _yyyy-MM-dd_, where _yyyy_ represents the year, _MM_ the month in year and _dd_ the day in the month. For instance, a valid value would be _"2020-05-02"_. <br /><br /> - **Date Time fields** should be in UTC following the ISO format _yyyy-MM-dd'T'HH:mm'Z'_. The date part follows the same date format, while _HH_ represents the hours (0-24), _mm_ the minutes in hour and _Z_ indicates the hour in UTC. For instance, a valid date time value would be _"2020-05-02T10:30Z"_. <br /><br />
        An error will be returned when there are invalid custom field values.
        It is also possible to delete a Test Run custom field value by providing a _null_ or empty value (e.g., _""_ or _[]_). **It is not possible to delete a value of a required Test Run Custom Field value.** <br/> Also, **it is not possible to change the Test Run to a final status when there are required Test Run custom fields with empty values.**
      parameters:
      - description: The id of the Test Run
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTestRun'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTestRunResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              example:
                error: Test Run with Id 1 was not found in the server.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Occurs when there is some error in the request,
            for instance, some custom field has an invalid value, or the user does
            not have permissions to execute the Test Run.
        "500":
          content:
            application/json:
              example:
                error: Internal server exception cause.
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal Server error
      tags:
      - Test Run
      x-contentType: application/json
      x-accepts: application/json
  /testrun/{id}/customfield/{customFieldId}:
    get:
      description: Retrieves a Test Run Custom Field, given the Test Run and the Test
        Run Custom Field ids.
      parameters:
      - description: The id of the Test Run
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the Test Run Custom Field
        explode: false
        in: path
        name: customFieldId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 219254
                name: Test Run Toggle
                value: "true"
              schema:
                $ref: '#/components/schemas/TestRunCustomFieldResponse'
          description: Successful operation. Returns the value of the custom field
            for the given Test Run.
        "400":
          content:
            application/json:
              example:
                error: Test Run Custom Field with id 2529 not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          description: Internal Server Error
      tags:
      - Test Run
      x-accepts: application/json
    put:
      description: |-
        Updates the value of a test run custom field, given the Test Run and the Test Run Custom Field ids. The custom field value should be a valid value according to the field type. <br/><br/> - **Toggle Fields** values should be _"true"_, _"false"_, _"0"_ or _"1"_ <br /><br /> - **Number Fields** values should be a string containing a number, e.g. _"320"_. Decimal Number are also accepted,for instance, "320.5". The decimal places are always separated by a _"."_  <br /> <br /> - **Single Select and Radio Button Fields** values should be a single string containing the option value, e.g. _"Option A"_. The value should be a valid option for that custom field. The values are not case sensitive. <br /><br /> - **Multiple Select Fields** values should be an array of the string of option values, e.g. _["Option A", "Option B"]_. All the selected values should be valid for that custom field. The option values are not case sensitive. <br /><br /> - **Date Fields** should follow the ISO format _yyyy-MM-dd_, where _yyyy_ represents the year, _MM_ the month in year and _dd_ the day in the month. For instance, a valid value would be _"2020-05-02"_. <br /><br /> - **Date Time fields** should be in UTC following the ISO format _yyyy-MM-dd'T'HH:mm'Z'_. The date part follows the same date format, while _HH_ represents the hours (0-24), _mm_ the minutes in hour and _Z_ indicates the hour in UTC. For instance, a valid date time value would be _"2020-05-02T10:30Z"_. <br /><br />
        An error will be returned when there are invalid custom field values.
        It is also possible to delete a Test Run custom field value by providing a _null_ or empty value (e.g., _""_ or _[]_). **It is not possible to delete a value of a required Test Run Custom Field value.** <br/>
      parameters:
      - description: The id of the Test Run
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the Test Run Custom Field
        explode: false
        in: path
        name: customFieldId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              example:
                value: Option A
              oneOf:
              - $ref: '#/components/schemas/UpdateTRCustomFieldValueSingle'
              - $ref: '#/components/schemas/UpdateTRCustomFieldValueMulti'
        required: true
      responses:
        "204":
          description: Successful operation
        "400":
          content:
            application/json:
              example:
                error: Test Run Custom Field with id 2529 not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          description: Internal Server Error
      tags:
      - Test Run
      x-contentType: application/json
      x-accepts: application/json
  /project/{id}/settings/customfields/testruns:
    get:
      description: Retrives the configuration of the Test Run custom fields for a
        project, given the project id. <br/><br/> The response contains all information
        related to the custom fields, such as id, name, description, if the field
        is require and enable, and the test types the custom field is associated with.
        In the case of optional custom fields (Multiple and Single Select Fields and
        Radio Buttons), the list of the custom field options is also retrieved.
      parameters:
      - description: The id of the Project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTestRunCFMetaInformation'
          description: Successful operation
        "400":
          content:
            application/json:
              example: Project with id 1749900 not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          description: Internal Server Error
      tags:
      - Project
      x-accepts: application/json
  /project/{id}/settings/customfields/teststeps:
    get:
      description: Retrives the configuration of the Test Step custom fields for a
        project, given the project id. <br/><br/> The response contains all information
        related to the custom fields, such as id, name, description, if the field
        is require and enable. In the case of optional custom fields (Multiple and
        Single Select Fields and Radio Buttons), the list of the custom field options
        is also retrieved.
      parameters:
      - description: The id of the Project
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTestStepCFMetaInformation'
          description: Successful operation
        "400":
          content:
            application/json:
              example: Project with id 1749900 not found.
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
        "500":
          description: Internal Server Error
      tags:
      - Project
      x-accepts: application/json
  /xraylicense:
    get:
      description: Returns information about the Xray license, including its status
        and type.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XrayLicenseStatus'
          description: Successful operation
        "500":
          description: Internal Server Error
      tags:
      - External Apps
      x-accepts: application/json
  /import/execution:
    post:
      description: Endpoint used to import Test results in the Xray JSON format.
      operationId: post-import-execution
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  info:
                    summary: Execution of automated tests for release v1.3
                    description: This execution is automatically created when importing
                      execution results from an external source
                    version: v1.3
                    user: admin
                    revision: 1.0.42134
                    startDate: 2014-08-30T11:47:35+01:00
                    finishDate: 2014-08-30T11:53:00+01:00
                    testPlanKey: DEMO-100
                    testEnvironments:
                    - iOS
                    - Android
                  tests:
                  - testKey: DEMO-6
                    start: 2014-08-30T11:47:35+01:00
                    finish: 2014-08-30T11:50:56+01:00
                    comment: Successful execution
                    status: PASS
                  - testKey: DEMO-7
                    start: 2014-08-30T11:51:00+01:00
                    finish: 2014-08-30T11:52:30+01:00
                    comment: 'Execution failed. Example #5 FAIL.'
                    status: FAIL
                    customFields:
                    - id: 321
                      value:
                      - option A
                      - option B
                    evidences:
                    - data: iVBORw0KGgoAAAANSUhEUgAABkIAAAO9CAYAAADezXv6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEn(...base64
                        file enconding)
                      filename: image21.jpg
                      contentType: image/jpeg
                    examples:
                    - PASS
                    - PASS
                    - PASS
                    - PASS
                    - FAIL
                    steps:
                    - status: PASS
                      comment: Coment on Test Step Result 1
                      evidences:
                      - data: iVBORw0KGgoAAAANSUhEUgAABkIAAAO9CAYAAADezXv6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEn(...base64
                          file enconding)
                        filename: image22.jpg
                        contentType: image/jpeg
                      actualResult: Actual result on Test Step 1
                    defects:
                    - DEMO-10
                    - DEMO-11
            schema:
              $ref: '#/components/schemas/XrayJsonImportExecution'
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    testExecIssue:
                      id: "38101"
                      key: TMP-82
                      self: http://localhost:30000/rest/api/2/issue/38101
                    testIssues:
                      success:
                      - self: http://localhost:30000/rest/api/2/issue/36600
                        id: "36600"
                        key: TMP-1
              schema:
                $ref: '#/components/schemas/RestApiSuccessResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    error: Custom Field MyToggle is invalid, 123 should have a valid
                      boolean type.
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
          description: Bad Request
      tags:
      - Import
      x-contentType: application/json
      x-accepts: application/json
  /import/execution/multipart:
    post:
      description: Endpoint used to import Test results in the Xray JSON format with
        Test Execution issue data.
      operationId: post-import-execution-multipart
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            encoding:
              result:
                contentType: application/json
                style: form
              info:
                contentType: application/json
                style: form
            examples:
              example-1:
                value: |-
                  {
                    "file": {
                      {
                    "info": {
                      "summary": "Execution of automated tests for release v1.3",
                      "description": "This execution is automatically created when importing execution results from an external source",
                      "version": "v1.3",
                      "user": "admin",
                      "revision": "1.0.42134",
                      "startDate": "2014-08-30T11:47:35+01:00",
                      "finishDate": "2014-08-30T11:53:00+01:00",
                      "testPlanKey": "DEMO-100",
                      "testEnvironments": [
                        "iOS",
                        "Android"
                      ]
                    },
                    "tests": [
                      {
                        "testKey": "DEMO-6",
                        "start": "2014-08-30T11:47:35+01:00",
                        "finish": "2014-08-30T11:50:56+01:00",
                        "comment": "Successful execution",
                        "status": "PASS"
                      },
                      {
                        "testKey": "DEMO-7",
                        "start": "2014-08-30T11:51:00+01:00",
                        "finish": "2014-08-30T11:52:30+01:00",
                        "comment": "Execution failed. Example #5 FAIL.",
                        "status": "FAIL",
                        "customFields": [
                          {
                            "id": 321,
                            "value": [
                              "option A",
                              "option B"
                            ]
                          }
                        ],
                        "evidences": [
                          {
                            "data": "iVBORw0KGgoAAAANSUhEUgAABkIAAAO9CAYAAADezXv6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEn(...base64 file enconding)",
                            "filename": "image21.jpg",
                            "contentType": "image/jpeg"
                          }
                        ],
                        "examples": [
                          "PASS",
                          "PASS",
                          "PASS",
                          "PASS",
                          "FAIL"
                        ],
                        "steps": [
                          {
                            "status": "PASS",
                            "comment": "Coment on Test Step Result 1",
                            "evidences": [
                              {
                                "data": "iVBORw0KGgoAAAANSUhEUgAABkIAAAO9CAYAAADezXv6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEn(...base64 file enconding)",
                                "filename": "image22.jpg",
                                "contentType": "image/jpeg"
                              }
                            ],
                            "actualResult": "Actual result on Test Step 1"
                          }
                        ],
                        "defects": [
                          "DEMO-10",
                          "DEMO-11"
                        ]
                      }
                    ]
                  }
                    },
                    "info": {
                      "fields": {
                          "project": {
                              "id": "10000"
                          },
                          "summary": "something",
                          "issuetype": {
                              "id": "10000"
                          },
                          "assignee": {
                              "name": "homer"
                          },
                          "reporter": {
                              "name": "smithers"
                          },
                          "priority": {
                              "id": "20000"
                          },
                          "labels": [
                              "bugfix",
                              "blitz_test"
                          ]
                      }
                  }
            schema:
              $ref: '#/components/schemas/XrayJsonImportMultipartRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    testExecIssue:
                      id: "38101"
                      key: TMP-82
                      self: http://localhost:30000/rest/api/2/issue/38101
                    testIssues:
                      success:
                      - self: http://localhost:30000/rest/api/2/issue/36600
                        id: "36600"
                        key: TMP-1
              schema:
                $ref: '#/components/schemas/RestApiSuccessResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    error: Custom Field MyToggle is invalid, 123 should have a valid
                      boolean type.
              schema:
                $ref: '#/components/schemas/RestApiErrorResponse'
          description: Bad Request
      tags:
      - Import
      x-contentType: multipart/form-data
      x-accepts: application/json
components:
  schemas:
    Error:
      properties:
        error:
          type: string
      type: object
    FileResponse:
      example:
        id: 25684
        fileName: attachment.txt
        fileIcon: text.gif
        mimeType: plain/text
        fileIconAlt: Text File
        fileSize: 100.0 kB
        numericalFileSize: "12"
        created: 2020-02-06T10:39:37Z
        createdDate: 1580985577000
        author: admin
        authorFullName: Bruce Wayne
        fileURL: http://example.com/attachment/25684/example2.txt
        filePath: /Users/example/path/attachment
      properties:
        id:
          type: integer
        filename:
          type: string
        fileIcon:
          type: string
        mimeType:
          type: string
        fileIconAlt:
          type: string
        fileSize:
          type: string
        numericalFileSize:
          type: integer
        created:
          type: string
        createdDate:
          type: integer
        author:
          type: string
        authorFullName:
          type: string
        fileURL:
          type: string
        filePath:
          type: string
      type: object
    DataField:
      properties:
        type:
          type: string
        value:
          type: string
      type: object
    OptionField:
      properties:
        type:
          type: string
        value:
          items:
            $ref: '#/components/schemas/OptionValue'
          type: array
      type: object
    OptionValue:
      properties:
        id:
          type: integer
        value:
          example: Option A
          type: string
      type: object
    WikiValue:
      properties:
        raw:
          type: string
        rendered:
          type: string
      type: object
    WikiField:
      properties:
        type:
          type: string
        value:
          $ref: '#/components/schemas/WikiValue'
      type: object
    Step:
      example:
        attachments:
        - id: 25684
          fileName: attachment.txt
          fileIcon: text.gif
          mimeType: plain/text
          fileIconAlt: Text File
          fileSize: 100.0 kB
          numericalFileSize: "12"
          created: 2020-02-06T10:39:37Z
          createdDate: 1580985577000
          author: admin
          authorFullName: Bruce Wayne
          fileURL: http://example.com/attachment/25684/example2.txt
          filePath: /Users/example/path/attachment
        - id: 25684
          fileName: attachment.txt
          fileIcon: text.gif
          mimeType: plain/text
          fileIconAlt: Text File
          fileSize: 100.0 kB
          numericalFileSize: "12"
          created: 2020-02-06T10:39:37Z
          createdDate: 1580985577000
          author: admin
          authorFullName: Bruce Wayne
          fileURL: http://example.com/attachment/25684/example2.txt
          filePath: /Users/example/path/attachment
        index: 1
        id: 85778
        fields:
          Action:
            type: Wiki
            value:
              raw: This is a step action
              rendered: <p>This is a step action</p>
          Toggle:
            type: Data
            value: "false"
      properties:
        id:
          example: 85778
          type: integer
        index:
          example: 1
          type: integer
        fields:
          additionalProperties:
            oneOf:
            - $ref: '#/components/schemas/DataField'
            - $ref: '#/components/schemas/OptionField'
            - $ref: '#/components/schemas/WikiField'
          example:
            Action:
              type: Wiki
              value:
                raw: This is a step action
                rendered: <p>This is a step action</p>
            Toggle:
              type: Data
              value: "false"
          type: object
        attachments:
          items:
            $ref: '#/components/schemas/FileResponse'
          type: array
      type: object
    StepResult:
      example:
        attachments:
        - id: 25684
          fileName: attachment.txt
          fileIcon: text.gif
          mimeType: plain/text
          fileIconAlt: Text File
          fileSize: 100.0 kB
          numericalFileSize: "12"
          created: 2020-02-06T10:39:37Z
          createdDate: 1580985577000
          author: admin
          authorFullName: Bruce Wayne
          fileURL: http://example.com/attachment/25684/example2.txt
          filePath: /Users/example/path/attachment
        - id: 25684
          fileName: attachment.txt
          fileIcon: text.gif
          mimeType: plain/text
          fileIconAlt: Text File
          fileSize: 100.0 kB
          numericalFileSize: "12"
          created: 2020-02-06T10:39:37Z
          createdDate: 1580985577000
          author: admin
          authorFullName: Bruce Wayne
          fileURL: http://example.com/attachment/25684/example2.txt
          filePath: /Users/example/path/attachment
        defects:
        - CALC-123
        - CALC-765
        index: 1
        comment:
          rendered: Comment on step
        id: 85778
        fields:
          Action:
            type: Wiki
            value:
              raw: This is a step action
              rendered: <p>This is a step action</p>
          Toggle:
            type: Data
            value: "false"
        evidences:
        - id: 25684
          fileName: attachment.txt
          fileIcon: text.gif
          mimeType: plain/text
          fileIconAlt: Text File
          fileSize: 100.0 kB
          numericalFileSize: "12"
          created: 2020-02-06T10:39:37Z
          createdDate: 1580985577000
          author: admin
          authorFullName: Bruce Wayne
          fileURL: http://example.com/attachment/25684/example2.txt
          filePath: /Users/example/path/attachment
        - id: 25684
          fileName: attachment.txt
          fileIcon: text.gif
          mimeType: plain/text
          fileIconAlt: Text File
          fileSize: 100.0 kB
          numericalFileSize: "12"
          created: 2020-02-06T10:39:37Z
          createdDate: 1580985577000
          author: admin
          authorFullName: Bruce Wayne
          fileURL: http://example.com/attachment/25684/example2.txt
          filePath: /Users/example/path/attachment
        status: PASS
        actualResult:
          rendered: Actual result on step
      properties:
        id:
          example: 85778
          type: integer
        index:
          example: 1
          type: integer
        fields:
          additionalProperties:
            oneOf:
            - $ref: '#/components/schemas/DataField'
            - $ref: '#/components/schemas/OptionField'
            - $ref: '#/components/schemas/WikiField'
          example:
            Action:
              type: Wiki
              value:
                raw: This is a step action
                rendered: <p>This is a step action</p>
            Toggle:
              type: Data
              value: "false"
          type: object
        attachments:
          items:
            $ref: '#/components/schemas/FileResponse'
          type: array
        status:
          example: PASS
          type: string
        comment:
          $ref: '#/components/schemas/StepResult_comment'
        defects:
          example:
          - CALC-123
          - CALC-765
          items:
            type: string
          type: array
        evidences:
          items:
            $ref: '#/components/schemas/FileResponse'
          type: array
        actualResult:
          $ref: '#/components/schemas/StepResult_actualResult'
      type: object
    UpdateStepResult:
      example:
        defects:
          add:
          - CALC-123
          - CALC-765
          remove:
          - CALC-563
          - CALC-744
        comment: Comment on step
        id: 85778
        evidences:
          add:
          - filename: example.txt
            data: gsddfgdsfg...(base64)
            contentType: plain/text
          - filename: example.txt
            data: gsddfgdsfg...(base64)
            contentType: plain/text
          remove:
          - CALC-124
          - CALC- 657
        status: FAIL
        actualResult: Actual result on step
      properties:
        id:
          example: 85778
          type: integer
        status:
          example: FAIL
          type: string
        comment:
          example: Comment on step
          type: string
        defects:
          $ref: '#/components/schemas/UpdateStepResult_defects'
        evidences:
          $ref: '#/components/schemas/UpdateStepResult_evidences'
        actualResult:
          example: Actual result on step
          type: string
      type: object
    TestStepsResponse:
      example:
        steps:
        - attachments:
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          index: 1
          id: 85778
          fields:
            Action:
              type: Wiki
              value:
                raw: This is a step action
                rendered: <p>This is a step action</p>
            Toggle:
              type: Data
              value: "false"
        - attachments:
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          index: 1
          id: 85778
          fields:
            Action:
              type: Wiki
              value:
                raw: This is a step action
                rendered: <p>This is a step action</p>
            Toggle:
              type: Data
              value: "false"
      properties:
        steps:
          items:
            $ref: '#/components/schemas/Step'
          type: array
      type: object
    StepResponse:
      example:
        step:
          attachments:
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          index: 1
          id: 85778
          fields:
            Action:
              type: Wiki
              value:
                raw: This is a step action
                rendered: <p>This is a step action</p>
            Toggle:
              type: Data
              value: "false"
      properties:
        step:
          $ref: '#/components/schemas/Step'
      type: object
    StepAttachementResponse:
      items:
        $ref: '#/components/schemas/FileResponse'
      type: array
    Field:
      additionalProperties:
        oneOf:
        - type: string
        - items:
            type: string
          type: array
      example:
        Action: Step Action
        Date: 02/Feb/2020
        Toggle: "true"
        SingleSelectList: Selected Value
        MultiSelectList:
        - Option A
        - Option B
      type: object
    File:
      example:
        filename: example.txt
        data: gsddfgdsfg...(base64)
        contentType: plain/text
      properties:
        data:
          example: gsddfgdsfg...(base64)
          type: string
        filename:
          example: example.txt
          type: string
        contentType:
          example: plain/text
          type: string
      type: object
    CreateStep:
      example:
        attachments:
        - filename: example.txt
          data: gsddfgdsfg...(base64)
          contentType: plain/text
        - filename: example.txt
          data: gsddfgdsfg...(base64)
          contentType: plain/text
        fields:
          Action: Step Action
          Date: 02/Feb/2020
          Toggle: "true"
          SingleSelectList: Selected Value
          MultiSelectList:
          - Option A
          - Option B
      properties:
        fields:
          additionalProperties:
            oneOf:
            - type: string
            - items:
                type: string
              type: array
          example:
            Action: Step Action
            Date: 02/Feb/2020
            Toggle: "true"
            SingleSelectList: Selected Value
            MultiSelectList:
            - Option A
            - Option B
          type: object
        attachments:
          items:
            $ref: '#/components/schemas/File'
          type: array
      type: object
    CreateStepResponse:
      example:
        warnings: []
        step:
          attachmentIds:
          - 25737
          - 25738
          id: 85860
      properties:
        step:
          $ref: '#/components/schemas/CreateStepResponse_step'
        warnings:
          example: []
          items:
            type: string
          type: array
      type: object
    UpdateStep:
      example:
        attachments:
          add:
          - filename: example.txt
            data: gsddfgdsfg...(base64)
            contentType: plain/text
          - filename: example.txt
            data: gsddfgdsfg...(base64)
            contentType: plain/text
          remove:
          - 1234
          - 4546
        fields:
          Action: Step Action
          Date: 02/Feb/2020
          Toggle: "true"
          SingleSelectList: Selected Value
          MultiSelectList:
          - Option A
          - Option B
      properties:
        fields:
          additionalProperties:
            oneOf:
            - type: string
            - items:
                type: string
              type: array
          example:
            Action: Step Action
            Date: 02/Feb/2020
            Toggle: "true"
            SingleSelectList: Selected Value
            MultiSelectList:
            - Option A
            - Option B
          type: object
        attachments:
          $ref: '#/components/schemas/UpdateStep_attachments'
      type: object
    TestRunResponse:
      example:
        executedBy: admin
        finishedOnIso: 2020-02-12T10:58:04Z
        color: '#D45D52'
        customFields:
        - ""
        - ""
        testEnvironments:
        - iOS
        - Android
        fixVersions:
        - isArchived: true
          name: "1.0"
          description: Version 1.0
          id: "97845"
          isReleased: false
        - isArchived: true
          name: "1.0"
          description: Version 1.0
          id: "97845"
          isReleased: false
        testExecKey: CALC-67193
        steps:
        - attachments:
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          defects:
          - CALC-123
          - CALC-765
          index: 1
          comment:
            rendered: Comment on step
          id: 85778
          fields:
            Action:
              type: Wiki
              value:
                raw: This is a step action
                rendered: <p>This is a step action</p>
            Toggle:
              type: Data
              value: "false"
          evidences:
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          status: PASS
          actualResult:
            rendered: Actual result on step
        - attachments:
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          defects:
          - CALC-123
          - CALC-765
          index: 1
          comment:
            rendered: Comment on step
          id: 85778
          fields:
            Action:
              type: Wiki
              value:
                raw: This is a step action
                rendered: <p>This is a step action</p>
            Toggle:
              type: Data
              value: "false"
          evidences:
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          - id: 25684
            fileName: attachment.txt
            fileIcon: text.gif
            mimeType: plain/text
            fileIconAlt: Text File
            fileSize: 100.0 kB
            numericalFileSize: "12"
            created: 2020-02-06T10:39:37Z
            createdDate: 1580985577000
            author: admin
            authorFullName: Bruce Wayne
            fileURL: http://example.com/attachment/25684/example2.txt
            filePath: /Users/example/path/attachment
          status: PASS
          actualResult:
            rendered: Actual result on step
        startedOnIso: 2020-02-12T09:58:04Z
        duration: 1923493000
        defects:
        - CALC-1
        - CALC-2
        comment: Test Run comment
        id: 1004725
        testKey: CALC-67187
        assignee: admin
        finishedOn: 2020-02-12T10:58:04Z
        evidences:
        - id: 25684
          fileName: attachment.txt
          fileIcon: text.gif
          mimeType: plain/text
          fileIconAlt: Text File
          fileSize: 100.0 kB
          numericalFileSize: "12"
          created: 2020-02-06T10:39:37Z
          createdDate: 1580985577000
          author: admin
          authorFullName: Bruce Wayne
          fileURL: http://example.com/attachment/25684/example2.txt
          filePath: /Users/example/path/attachment
        - id: 25684
          fileName: attachment.txt
          fileIcon: text.gif
          mimeType: plain/text
          fileIconAlt: Text File
          fileSize: 100.0 kB
          numericalFileSize: "12"
          created: 2020-02-06T10:39:37Z
          createdDate: 1580985577000
          author: admin
          authorFullName: Bruce Wayne
          fileURL: http://example.com/attachment/25684/example2.txt
          filePath: /Users/example/path/attachment
        startedOn: 2020-02-12T09:58:04Z
        status: FAIL
      properties:
        id:
          example: 1004725
          type: integer
        status:
          example: FAIL
          type: string
        color:
          example: '#D45D52'
          type: string
        testKey:
          example: CALC-67187
          type: string
        testExecKey:
          example: CALC-67193
          type: string
        assignee:
          example: admin
          type: string
        executedBy:
          example: admin
          type: string
        startedOn:
          example: 2020-02-12T09:58:04Z
          type: string
        finishedOn:
          example: 2020-02-12T10:58:04Z
          type: string
        startedOnIso:
          example: 2020-02-12T09:58:04Z
          type: string
        finishedOnIso:
          example: 2020-02-12T10:58:04Z
          type: string
        duration:
          example: 1923493000
          type: integer
        defects:
          example:
          - CALC-1
          - CALC-2
          items:
            type: string
          type: array
        evidences:
          items:
            $ref: '#/components/schemas/FileResponse'
          type: array
        comment:
          example: Test Run comment
          type: string
        testEnvironments:
          example:
          - iOS
          - Android
          items:
            type: string
          type: array
        fixVersions:
          items:
            $ref: '#/components/schemas/Version'
          type: array
        customFields:
          items:
            oneOf:
            - $ref: '#/components/schemas/TestRunCustomFieldSingle'
            - $ref: '#/components/schemas/TestRunCustomFieldMulti'
          type: array
        steps:
          items:
            $ref: '#/components/schemas/StepResult'
          type: array
      type: object
    TestRunCustomFieldResponse:
      oneOf:
      - $ref: '#/components/schemas/TestRunCustomFieldSingle'
      - $ref: '#/components/schemas/TestRunCustomFieldMulti'
      type: object
    TestRunCustomFieldSingle:
      properties:
        id:
          example: 28
          type: integer
        name:
          example: Toogle Custom Field
          type: string
        value:
          example: "true"
          type: string
      type: object
    TestRunCustomFieldMulti:
      properties:
        id:
          example: 29
          type: integer
        name:
          example: Multi select List Custom Field
          type: string
        value:
          example:
          - option A
          - option B
          items:
            type: string
          type: array
      type: object
    UpdateTestRunCustomFieldSingle:
      properties:
        id:
          example: 28
          type: integer
        value:
          example: "true"
          type: string
      type: object
    UpdateTestRunCustomFieldMulti:
      properties:
        id:
          example: 29
          type: integer
        value:
          example:
          - option A
          - option B
          items:
            type: string
          type: array
      type: object
    Version:
      example:
        isArchived: true
        name: "1.0"
        description: Version 1.0
        id: "97845"
        isReleased: false
      properties:
        id:
          example: "97845"
          type: string
        name:
          example: "1.0"
          type: string
        description:
          example: Version 1.0
          type: string
        isArchived:
          example: true
          type: boolean
        isReleased:
          example: false
          type: boolean
      type: object
    UpdateTestRun:
      example:
        examples:
          duration: "12960"
          statusDescription: Description of the status
          values:
          - value1
          - value2
          backgrounds:
          - duration: "14226"
            logError: ""
            name: Example Name
            rank: 1
            id: 1
            type: type
            keyword: Example Keyword
            status: PASS
          - duration: "14226"
            logError: ""
            name: Example Name
            rank: 1
            id: 1
            type: type
            keyword: Example Keyword
            status: PASS
          rank: 1
          id: "1379"
          hooks:
          - duration: "14226"
            logError: ""
            name: Example Name
            rank: 1
            id: 1
            type: type
            keyword: Example Keyword
            status: PASS
          - duration: "14226"
            logError: ""
            name: Example Name
            rank: 1
            id: 1
            type: type
            keyword: Example Keyword
            status: PASS
          steps:
          - duration: "14226"
            logError: ""
            name: Example Name
            rank: 1
            id: 1
            type: type
            keyword: Example Keyword
            status: PASS
          - duration: "14226"
            logError: ""
            name: Example Name
            rank: 1
            id: 1
            type: type
            keyword: Example Keyword
            status: PASS
          status: TODO
        customFields:
        - ""
        - ""
        defects:
          add:
          - CALC-1
          - CALC-2
          remove:
          - CALC-3
          - CALC-4
        comment: Comment on Test Run
        assignee: admin
        evidences:
          add:
          - filename: example.txt
            data: gsddfgdsfg...(base64)
            contentType: plain/text
          - filename: example.txt
            data: gsddfgdsfg...(base64)
            contentType: plain/text
          remove:
          - 1235
          - 5674
        steps:
        - defects:
            add:
            - CALC-123
            - CALC-765
            remove:
            - CALC-563
            - CALC-744
          comment: Comment on step
          id: 85778
          evidences:
            add:
            - filename: example.txt
              data: gsddfgdsfg...(base64)
              contentType: plain/text
            - filename: example.txt
              data: gsddfgdsfg...(base64)
              contentType: plain/text
            remove:
            - CALC-124
            - CALC- 657
          status: FAIL
          actualResult: Actual result on step
        - defects:
            add:
            - CALC-123
            - CALC-765
            remove:
            - CALC-563
            - CALC-744
          comment: Comment on step
          id: 85778
          evidences:
            add:
            - filename: example.txt
              data: gsddfgdsfg...(base64)
              contentType: plain/text
            - filename: example.txt
              data: gsddfgdsfg...(base64)
              contentType: plain/text
            remove:
            - CALC-124
            - CALC- 657
          status: FAIL
          actualResult: Actual result on step
        status: PASS
      properties:
        status:
          example: PASS
          type: string
        comment:
          example: Comment on Test Run
          type: string
        assignee:
          example: admin
          type: string
        defects:
          $ref: '#/components/schemas/Defects'
        evidences:
          $ref: '#/components/schemas/UpdateTestRun_evidences'
        customFields:
          items:
            oneOf:
            - $ref: '#/components/schemas/UpdateTestRunCustomFieldSingle'
            - $ref: '#/components/schemas/UpdateTestRunCustomFieldMulti'
          type: array
        steps:
          items:
            $ref: '#/components/schemas/UpdateStepResult'
          type: array
        examples:
          $ref: '#/components/schemas/UpdateTestRun_examples'
      type: object
    TestExampleStepBean:
      example:
        duration: "14226"
        logError: ""
        name: Example Name
        rank: 1
        id: 1
        type: type
        keyword: Example Keyword
        status: PASS
      properties:
        id:
          example: 1
          type: integer
        rank:
          example: 1
          type: integer
        type:
          example: type
          type: string
        keyword:
          example: Example Keyword
          type: string
        name:
          example: Example Name
          type: string
        duration:
          example: "14226"
          type: string
        logError:
          example: ""
          type: string
        status:
          example: PASS
          type: string
      type: object
    Defects:
      example:
        add:
        - CALC-1
        - CALC-2
        remove:
        - CALC-3
        - CALC-4
      properties:
        add:
          example:
          - CALC-1
          - CALC-2
          items:
            type: string
          type: array
        remove:
          example:
          - CALC-3
          - CALC-4
          items:
            type: string
          type: array
      type: object
    UpdateTestRunResponse:
      example:
        stepResults:
        - warnings:
          - '["No attachment with id 123 was found."]'
          - '["No attachment with id 123 was found."]'
          evidenceIds:
          - 6
          - 6
          id: 813743
        - warnings:
          - '["No attachment with id 123 was found."]'
          - '["No attachment with id 123 was found."]'
          evidenceIds:
          - 6
          - 6
          id: 813743
        warnings:
        - '["Test example with id 1379 does not belong to test run with id 1004725."]'
        - '["Test example with id 1379 does not belong to test run with id 1004725."]'
        evidenceIds:
        - 0
        - 0
        id: 1004725
      properties:
        id:
          example: 1004725
          type: integer
        evidenceIds:
          items:
            type: integer
          type: array
        warnings:
          items:
            example: '["Test example with id 1379 does not belong to test run with
              id 1004725."]'
            type: string
          type: array
        stepResults:
          items:
            $ref: '#/components/schemas/StepResultsResponse'
          type: array
      type: object
    StepResultsResponse:
      example:
        warnings:
        - '["No attachment with id 123 was found."]'
        - '["No attachment with id 123 was found."]'
        evidenceIds:
        - 6
        - 6
        id: 813743
      properties:
        id:
          example: 813743
          type: integer
        evidenceIds:
          items:
            type: integer
          type: array
        warnings:
          items:
            example: '["No attachment with id 123 was found."]'
            type: string
          type: array
      type: object
    ProjectTestRunCFMetaInformation:
      items:
        oneOf:
        - $ref: '#/components/schemas/CustomFieldMetaInformation'
        - $ref: '#/components/schemas/OptionCustomFieldMetaInformation'
      type: array
    CustomFieldMetaInformation:
      properties:
        id:
          example: "252922"
          type: string
        name:
          example: Toggle for Test Run
          type: string
        description:
          example: A toggle custom field for the test runs
          type: string
        type:
          example: TOGGLE
          type: string
        required:
          example: false
          type: boolean
        enabled:
          example: true
          type: boolean
        testTypes:
          example:
          - Manual
          - Cucumber
          items:
            type: string
          type: array
      type: object
    OptionCustomFieldMetaInformation:
      properties:
        id:
          example: "252922"
          type: string
        name:
          example: Toggle for Test Run
          type: string
        description:
          example: A toggle custom field for the test runs
          type: string
        type:
          example: TOGGLE
          type: string
        required:
          example: false
          type: boolean
        enabled:
          example: true
          type: boolean
        options:
          example:
          - Option A
          - Option B
          - Option C
          items:
            type: string
          type: array
        testTypes:
          example:
          - Generic
          items:
            type: string
          type: array
      type: object
    ProjectTestStepCFMetaInformation:
      items:
        oneOf:
        - $ref: '#/components/schemas/StepCustomFieldMetaInformation'
        - $ref: '#/components/schemas/StepOptionCustomFieldMetaInformation'
      type: array
    StepCustomFieldMetaInformation:
      properties:
        id:
          example: "252922"
          type: string
        name:
          example: Toggle for Test Run
          type: string
        description:
          example: A toggle custom field for the test runs
          type: string
        type:
          example: TOGGLE
          type: string
        required:
          example: false
          type: boolean
        enabled:
          example: true
          type: boolean
      type: object
    StepOptionCustomFieldMetaInformation:
      properties:
        id:
          example: "252922"
          type: string
        name:
          example: Toggle for Test Run
          type: string
        description:
          example: A toggle custom field for the test runs
          type: string
        type:
          example: TOGGLE
          type: string
        required:
          example: false
          type: boolean
        enabled:
          example: true
          type: boolean
        options:
          example:
          - Option A
          - Option B
          - Option C
          items:
            type: string
          type: array
      type: object
    UpdateTRCustomFieldValueSingle:
      properties:
        value:
          example: "true"
          type: string
      type: object
    UpdateTRCustomFieldValueMulti:
      example:
      - Option A
      - Option B
      properties:
        value:
          items:
            type: string
          type: array
      type: object
    TestRunExample:
      properties:
        id:
          example: 156
          type: integer
        rank:
          example: 1
          type: integer
      type: object
    XrayLicenseStatus:
      example:
        licenseType: Commercial (Atlassian Marketplace)
        active: true
      properties:
        active:
          example: true
          type: boolean
        licenseType:
          example: Commercial (Atlassian Marketplace)
          type: string
      type: object
    XrayJsonImportExecution:
      example:
        testExecutionKey: testExecutionKey
        tests:
        - executedBy: executedBy
          examples:
          - examples
          - examples
          customFields:
          - ""
          - ""
          start: start
          comment: comment
          finish: finish
          testKey: testKey
          evidences:
          - filename: filename
            data: data
            contentType: contentType
          - filename: filename
            data: data
            contentType: contentType
          results:
          - duration: 0
            examples:
            - examples
            - examples
            log: log
            name: name
            status: status
          - duration: 0
            examples:
            - examples
            - examples
            log: log
            name: name
            status: status
          steps:
          - comment: comment
            evidences:
            - filename: filename
              data: data
              contentType: contentType
            - filename: filename
              data: data
              contentType: contentType
            status: status
            actualResult: actualResult
          - comment: comment
            evidences:
            - filename: filename
              data: data
              contentType: contentType
            - filename: filename
              data: data
              contentType: contentType
            status: status
            actualResult: actualResult
          status: status
        - executedBy: executedBy
          examples:
          - examples
          - examples
          customFields:
          - ""
          - ""
          start: start
          comment: comment
          finish: finish
          testKey: testKey
          evidences:
          - filename: filename
            data: data
            contentType: contentType
          - filename: filename
            data: data
            contentType: contentType
          results:
          - duration: 0
            examples:
            - examples
            - examples
            log: log
            name: name
            status: status
          - duration: 0
            examples:
            - examples
            - examples
            log: log
            name: name
            status: status
          steps:
          - comment: comment
            evidences:
            - filename: filename
              data: data
              contentType: contentType
            - filename: filename
              data: data
              contentType: contentType
            status: status
            actualResult: actualResult
          - comment: comment
            evidences:
            - filename: filename
              data: data
              contentType: contentType
            - filename: filename
              data: data
              contentType: contentType
            status: status
            actualResult: actualResult
          status: status
        info:
          summary: summary
          project: project
          description: description
          finishDate: finishDate
          user: user
          version: version
          startDate: startDate
          revision: revision
      properties:
        testExecutionKey:
          type: string
        info:
          $ref: '#/components/schemas/XrayJsonImportExecution_info'
        tests:
          items:
            $ref: '#/components/schemas/XrayJsonImportExecution_tests'
          type: array
      title: XrayJsonImportExecution
      type: object
      x-examples:
        example-1:
          info:
            summary: Execution of automated tests for release v1.3
            description: This execution is automatically created when importing execution
              results from an external source
            version: v1.3
            user: admin
            revision: 1.0.42134
            startDate: 2014-08-30T11:47:35+01:00
            finishDate: 2014-08-30T11:53:00+01:00
            testPlanKey: DEMO-100
            testEnvironments:
            - iOS
            - Android
          tests:
          - testKey: DEMO-6
            start: 2014-08-30T11:47:35+01:00
            finish: 2014-08-30T11:50:56+01:00
            comment: Successful execution
            status: PASS
          - testKey: DEMO-7
            start: 2014-08-30T11:51:00+01:00
            finish: 2014-08-30T11:52:30+01:00
            comment: 'Execution failed. Example #5 FAIL.'
            status: FAIL
            customFields:
            - id: 321
              value:
              - option A
              - option B
            evidences:
            - data: iVBORw0KGgoAAAANSUhEUgAABkIAAAO9CAYAAADezXv6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEn(...base64
                file enconding)
              filename: image21.jpg
              contentType: image/jpeg
            examples:
            - PASS
            - PASS
            - PASS
            - PASS
            - FAIL
            steps:
            - status: PASS
              comment: Coment on Test Step Result 1
              evidences:
              - data: iVBORw0KGgoAAAANSUhEUgAABkIAAAO9CAYAAADezXv6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEn(...base64
                  file enconding)
                filename: image22.jpg
                contentType: image/jpeg
              actualResult: Actual result on Test Step 1
            defects:
            - DEMO-10
            - DEMO-11
    RestApiErrorResponse:
      properties:
        error:
          type: string
      title: RestApiErrorResponse
      type: object
      x-examples:
        example-1:
          error: Custom Field MyToggle is invalid, 123 should have a valid boolean
            type.
    RestApiSuccessResponse:
      example:
        testExecIssue:
          self: self
          id: id
          key: key
        testIssues:
          success:
          - self: self
            id: id
            key: key
          - self: self
            id: id
            key: key
          error:
          - messages:
            - messages
            - messages
            testDefinition: testDefinition
          - messages:
            - messages
            - messages
            testDefinition: testDefinition
        testRunWarnings:
        - testExecutionKey: testExecutionKey
          warningCollection:
          - warningCollection
          - warningCollection
          testRunId: 0
          testKey: testKey
        - testExecutionKey: testExecutionKey
          warningCollection:
          - warningCollection
          - warningCollection
          testRunId: 0
          testKey: testKey
        message: message
        testWarnings:
        - testWarnings
        - testWarnings
      properties:
        testExecIssue:
          $ref: '#/components/schemas/RestApiSuccessResponse_testExecIssue'
        testIssues:
          $ref: '#/components/schemas/RestApiSuccessResponse_testIssues'
        testWarnings:
          items:
            type: string
          type: array
        testRunWarnings:
          items:
            $ref: '#/components/schemas/RestApiSuccessResponse_testRunWarnings'
          type: array
        message:
          type: string
      required:
      - testExecIssue
      title: RestApiSuccessResponse
      type: object
      x-examples:
        example-1:
          testExecIssue:
            id: "38101"
            key: TMP-82
            self: http://localhost:30000/rest/api/2/issue/38101
          testIssues:
            success:
            - self: http://localhost:30000/rest/api/2/issue/36600
              id: "36600"
              key: TMP-1
    XrayJsonImportMultipartRequest:
      properties:
        result:
          description: |+
            The Xray JSON file, same as described in the `POST /import/execution` ([link](https://docs.getxray.app/display/XRAY420/v2.0#/Import/post-import-execution)). This file **must** be of type `application/json`.

            <details>
            <summary>Example 1 (Create new Test Execution issue)</summary>

            ```
            {
              "info": {
                "summary": "Execution of automated tests for release v1.3",
                "description": "This execution is automatically created when importing execution results from an external source",
                "version": "v1.3",
                "user": "admin",
                "revision": "1.0.42134",
                "startDate": "2014-08-30T11:47:35+01:00",
                "finishDate": "2014-08-30T11:53:00+01:00",
                "testPlanKey": "DEMO-100",
                "testEnvironments": [
                  "iOS",
                  "Android"
                ]
              },
              "tests": [
                {
                  "testKey": "DEMO-6",
                  "start": "2014-08-30T11:47:35+01:00",
                  "finish": "2014-08-30T11:50:56+01:00",
                  "comment": "Successful execution",
                  "status": "PASS"
                },
                {
                  "testKey": "DEMO-7",
                  "start": "2014-08-30T11:51:00+01:00",
                  "finish": "2014-08-30T11:52:30+01:00",
                  "comment": "Execution failed. Example #5 FAIL.",
                  "status": "FAIL",
                  "customFields": [
                    {
                      "id": 321,
                      "value": [
                        "option A",
                        "option B"
                      ]
                    }
                  ],
                  "evidences": [
                    {
                      "data": "iVBORw0KGgoAAAANSUhEUgAABkIAAAO9CAYAAADezXv6AAAAEn(...base64 file enconding)",
                      "filename": "image21.jpg",
                      "contentType": "image/jpeg"
                    }
                  ],
                  "examples": [
                    "PASS",
                    "PASS",
                    "PASS",
                    "PASS",
                    "FAIL"
                  ],
                  "steps": [
                    {
                      "status": "PASS",
                      "comment": "Coment on Test Step Result 1",
                      "evidences": [
                        {
                          "data": "iVBORw0KGgoAAAANSUhEUgAABkIAAAO9CAYAAADezXv6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEn(...base64 file enconding)",
                          "filename": "image22.jpg",
                          "contentType": "image/jpeg"
                        }
                      ],
                      "actualResult": "Actual result on Test Step 1"
                    }
                  ],
                  "defects": [
                    "DEMO-10",
                    "DEMO-11"
                  ]
                }
              ]
            }
            ```
            </details>

            <details>
            <summary>Example 2 (Update Existing Test Execution)</summary>

            ```
            {
                "testExecutionKey": "DEMO-1206",
                "tests" : [
                    {
                        "testKey" : "DEMO-6",
                        "start" : "2014-08-30T11:47:35+01:00",
                        "finish" : "2014-08-30T11:50:56+01:00",
                        "comment" : "Successful execution",
                        "status" : "PASS"
                    }
                 ]
            }
            ```
            </details>

          format: binary
          pattern: .+\.json
          type: string
        info:
          description: "Should follow the same format as the \"fields\" part, described\
            \ in the [official Jira REST API](https://docs.atlassian.com/software/jira/docs/api/REST/latest/#api/2/issue-createIssue).\n\
            This file **must** be of type `application/json`.\n\n<details>\n<summary>Example\
            \ 1 (Fields for a new Test Execution)</summary>\n\n```\n{\n    \"fields\"\
            : {\n        \"project\": {\n            \"id\": \"10402\"\n        },\n\
            \        \"summary\": \"Brand new Test execution\",\n        \"issuetype\"\
            : {\n            \"id\": \"10007\"\n        },\n        \"components\"\
            \ : [\n            {\n            \"name\":\"Interface\"\n           \
            \ },\n            {\n            \"name\":\"Core\"\n            }\n  \
            \      ],\n        \"customfield_10032\" : [\n            \"TES-38\"\n\
            \        ]\n    }\n}\n```\n</details>\n\n<details>\n<summary>Example 2\
            \ (Fields for updating a Test Execution)</summary>\n\n```\n{\n    \"fields\"\
            : {\n        \"customfield_10032\" : [\n            \"a_label\"\n    \
            \    ],\n        \"description\": \"update the issue description\"\n \
            \   }\n}\n``` \n</details>\n\n"
          format: binary
          pattern: .+\.json
          type: string
      required:
      - info
      - result
      title: XrayJsonMultipartRequest
      type: object
      x-examples:
        example-1:
          result: my_test_result_file.json
          info: my_test_execution_issue_properties.json
    StepResult_comment:
      example:
        rendered: Comment on step
      properties:
        rendered:
          example: Comment on step
          type: string
      type: object
    StepResult_actualResult:
      example:
        rendered: Actual result on step
      properties:
        rendered:
          example: Actual result on step
          type: string
      type: object
    UpdateStepResult_defects:
      example:
        add:
        - CALC-123
        - CALC-765
        remove:
        - CALC-563
        - CALC-744
      properties:
        add:
          example:
          - CALC-123
          - CALC-765
          items:
            type: string
          type: array
        remove:
          example:
          - CALC-563
          - CALC-744
          items:
            type: string
          type: array
      type: object
    UpdateStepResult_evidences:
      example:
        add:
        - filename: example.txt
          data: gsddfgdsfg...(base64)
          contentType: plain/text
        - filename: example.txt
          data: gsddfgdsfg...(base64)
          contentType: plain/text
        remove:
        - CALC-124
        - CALC- 657
      properties:
        add:
          items:
            $ref: '#/components/schemas/File'
          type: array
        remove:
          example:
          - CALC-124
          - CALC- 657
          items:
            type: string
          type: array
      type: object
    CreateStepResponse_step:
      example:
        attachmentIds:
        - 25737
        - 25738
        id: 85860
      properties:
        id:
          example: 85860
          type: integer
        attachmentIds:
          example:
          - 25737
          - 25738
          items:
            type: integer
          type: array
      type: object
    UpdateStep_attachments:
      example:
        add:
        - filename: example.txt
          data: gsddfgdsfg...(base64)
          contentType: plain/text
        - filename: example.txt
          data: gsddfgdsfg...(base64)
          contentType: plain/text
        remove:
        - 1234
        - 4546
      properties:
        add:
          items:
            $ref: '#/components/schemas/File'
          type: array
        remove:
          example:
          - 1234
          - 4546
          items:
            type: integer
          type: array
      type: object
    UpdateTestRun_evidences:
      example:
        add:
        - filename: example.txt
          data: gsddfgdsfg...(base64)
          contentType: plain/text
        - filename: example.txt
          data: gsddfgdsfg...(base64)
          contentType: plain/text
        remove:
        - 1235
        - 5674
      properties:
        add:
          items:
            $ref: '#/components/schemas/File'
          type: array
        remove:
          example:
          - 1235
          - 5674
          items:
            type: integer
          type: array
      type: object
    UpdateTestRun_examples:
      example:
        duration: "12960"
        statusDescription: Description of the status
        values:
        - value1
        - value2
        backgrounds:
        - duration: "14226"
          logError: ""
          name: Example Name
          rank: 1
          id: 1
          type: type
          keyword: Example Keyword
          status: PASS
        - duration: "14226"
          logError: ""
          name: Example Name
          rank: 1
          id: 1
          type: type
          keyword: Example Keyword
          status: PASS
        rank: 1
        id: "1379"
        hooks:
        - duration: "14226"
          logError: ""
          name: Example Name
          rank: 1
          id: 1
          type: type
          keyword: Example Keyword
          status: PASS
        - duration: "14226"
          logError: ""
          name: Example Name
          rank: 1
          id: 1
          type: type
          keyword: Example Keyword
          status: PASS
        steps:
        - duration: "14226"
          logError: ""
          name: Example Name
          rank: 1
          id: 1
          type: type
          keyword: Example Keyword
          status: PASS
        - duration: "14226"
          logError: ""
          name: Example Name
          rank: 1
          id: 1
          type: type
          keyword: Example Keyword
          status: PASS
        status: TODO
      properties:
        id:
          example: "1379"
          type: string
        rank:
          example: 1
          type: integer
        values:
          example:
          - value1
          - value2
          items:
            type: string
          type: array
        status:
          example: TODO
          type: string
        statusDescription:
          example: Description of the status
          type: string
        duration:
          example: "12960"
          type: string
        backgrounds:
          items:
            $ref: '#/components/schemas/TestExampleStepBean'
          type: array
        hooks:
          items:
            $ref: '#/components/schemas/TestExampleStepBean'
          type: array
        steps:
          items:
            $ref: '#/components/schemas/TestExampleStepBean'
          type: array
      type: object
    XrayJsonImportExecution_info:
      example:
        summary: summary
        project: project
        description: description
        finishDate: finishDate
        user: user
        version: version
        startDate: startDate
        revision: revision
      properties:
        project:
          type: string
        summary:
          type: string
        description:
          type: string
        user:
          type: string
        version:
          type: string
        revision:
          type: string
        startDate:
          type: string
        finishDate:
          type: string
      type: object
    XrayJsonImportExecution_evidences:
      example:
        filename: filename
        data: data
        contentType: contentType
      properties:
        data:
          type: string
        filename:
          type: string
        contentType:
          type: string
      type: object
    XrayJsonImportExecution_results:
      example:
        duration: 0
        examples:
        - examples
        - examples
        log: log
        name: name
        status: status
      properties:
        name:
          type: string
        duration:
          type: integer
        log:
          type: string
        status:
          type: string
        examples:
          items:
            type: string
          type: array
      type: object
    XrayJsonImportExecution_steps:
      example:
        comment: comment
        evidences:
        - filename: filename
          data: data
          contentType: contentType
        - filename: filename
          data: data
          contentType: contentType
        status: status
        actualResult: actualResult
      properties:
        status:
          type: string
        comment:
          type: string
        evidences:
          items:
            $ref: '#/components/schemas/XrayJsonImportExecution_evidences'
          type: array
        actualResult:
          type: string
      type: object
    XrayJsonImportExecution_tests:
      example:
        executedBy: executedBy
        examples:
        - examples
        - examples
        customFields:
        - ""
        - ""
        start: start
        comment: comment
        finish: finish
        testKey: testKey
        evidences:
        - filename: filename
          data: data
          contentType: contentType
        - filename: filename
          data: data
          contentType: contentType
        results:
        - duration: 0
          examples:
          - examples
          - examples
          log: log
          name: name
          status: status
        - duration: 0
          examples:
          - examples
          - examples
          log: log
          name: name
          status: status
        steps:
        - comment: comment
          evidences:
          - filename: filename
            data: data
            contentType: contentType
          - filename: filename
            data: data
            contentType: contentType
          status: status
          actualResult: actualResult
        - comment: comment
          evidences:
          - filename: filename
            data: data
            contentType: contentType
          - filename: filename
            data: data
            contentType: contentType
          status: status
          actualResult: actualResult
        status: status
      properties:
        comment:
          type: string
        finish:
          type: string
        start:
          type: string
        status:
          type: string
        customFields:
          items:
            oneOf:
            - $ref: '#/components/schemas/UpdateTestRunCustomFieldSingle'
            - $ref: '#/components/schemas/UpdateTestRunCustomFieldMulti'
          type: array
        testKey:
          type: string
        executedBy:
          type: string
        evidences:
          items:
            $ref: '#/components/schemas/XrayJsonImportExecution_evidences'
          type: array
        results:
          items:
[...]
