name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
  BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Starting test dependencies
        run: docker-compose up -d
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Running End To End Test
        run: ./gradlew task web
        env:
          DEFAULT_REGION: ap-southeast-2
          AWS_ACCOUNT_ID: "000000000000"
          AWS_ACCESS_KEY_ID: dummy-access-key
          AWS_SECRET_ACCESS_KEY: dummy-secret-key
      - uses: 8398a7/action-slack@v3
        name: Slack Alert
        if: always()
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
          text: "Web Test."

  mobile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Upload app and set app location
        id: app-upload
        run: |
          IPA_UPLOAD_RESPONSE=$(curl -u "$USERNAME:$ACCESS" -X POST https://api-cloud.browserstack.com/app-automate/upload -F "url=https://github.com/saucelabs/sample-app-mobile/releases/download/2.7.1/iOS.RealDevice.SauceLabs.Mobile.Sample.app.2.7.1.ipa")
          APK_UPLOAD_RESPONSE=$(curl -u "$USERNAME:$ACCESS" -X POST https://api-cloud.browserstack.com/app-automate/upload -F "url=https://github.com/saucelabs/sample-app-mobile/releases/download/2.7.1/Android.SauceLabs.Mobile.Sample.app.2.7.1.apk")
          echo "::set-output name=IPA_URL::$(echo $IPA_UPLOAD_RESPONSE | jq -r '.app_url')"
          echo "::set-output name=APK_URL::$(echo $APK_UPLOAD_RESPONSE | jq -r '.app_url')"
        env:
          USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          ACCESS: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      - name: Gradle Run Test Browserstack
        run: ./gradlew task mobile
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
          IPA_URL: ${{steps.app-upload.outputs.IPA_URL}}
          APK_URL: ${{steps.app-upload.outputs.APK_URL}}
      - name: Generate Report
        run: ./gradlew task allureReport
      - uses: actions/upload-artifact@v3
        with:
          name: allure-report
          path: build/reports/allure-report
      - uses: 8398a7/action-slack@v3
        name: Slack Alert
        if: always()
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took
          text: "Mobile Test."
